[2015-03-17 23:18] gbinal opened #1 "Add a description and URL"
On the homepage of https://github.com/nasa/api-docs, it will be helpful and welcoming to add a v. short blurb about what this repo is for and the url `nasa.github.io/api-docs/` to the URL section.

This will make the project more developer friendly.

[2015-03-19 13:33] gbinal opened #2 "Reconsider the 3 column layout?"
It's a bit distracting.

[2015-03-19 13:34] gbinal opened #3 "Make clear what makes this API special"
That is, why does someone need this over Google Maps or Mapbox API.

[2015-03-19 13:35] gbinal opened #4 "hyperlink the urls"
People want to start clicking on the endpoint urls

[2015-03-19 13:35] gbinal opened #5 "ensure example responses are consistent with actual responses"
e.g. - cloud score wasn't there, links weren't shortened.

[2015-03-19 13:36] gbinal commented on #3
Provide a bit more story-telling

[2015-03-19 13:37] gbinal opened #6 "Is it possible to provide index listings?"

[2015-03-19 13:38] gbinal opened #7 "ensure more consistent error handling"

[2015-03-19 13:38] gbinal opened #8 "offer more examples or field reference information"

[2015-03-19 13:39] jasonduley opened #9 "Look into embedded Plunkr/JSFiddle into API pages"

[2015-03-19 13:39] gbinal opened #10 "Correct APOD endpoint"

[2015-03-19 13:40] gbinal opened #11 "Lead with APOD"

[2015-03-19 13:41] gbinal opened #12 "Ensure language is clear"
e.g. `address` what kind of address?

[2015-03-19 13:41] gbinal commented on #8
It's not clear enough how to field more queries

[2015-03-19 13:51] danhammer opened #13 "sample queries"
create a sample query for each.  maybe even surface these at the top.

[2015-03-19 13:52] gbinal opened #14 "Consider brief bullet points in the intro to say what's in the API"

[2015-03-19 13:56] gbinal opened #15 "redo authentication paragraph"
_I need a key if I'm making a mobile app?_

This could be worded more clearly.

[2015-03-19 13:56] danhammer commented on #9
It seems like there are ways to insert HTML directly into markdown, but i am totally open to just edit the HTML.

[2015-03-19 13:57] gbinal opened #16 "Consider version numbers in headers or the url"

[2015-03-19 13:57] danhammer commented on #16
question to answer: how do we add to the headers that are returned from api.data.gov?

[2015-03-19 13:58] jasonduley commented on #9
I'll create another ticket for your comment above.

[2015-03-19 13:58] gbinal opened #17 "Clarify response codes"

[2015-03-19 13:58] jasonduley opened #18 "Discuss markdown vs html editing for continued dev"

[2015-03-19 13:58] gbinal opened #19 "The examples displayed on the right should be available through a link"
Someone should be able to see the prepared url that would resolve the return shown on the right

[2015-03-19 13:58] danhammer commented on #17
i think that we will just respond with our own JSON errors.
[code]

[2015-03-19 14:00] gbinal opened #20 "Consider interactive documentation"

[2015-03-19 14:00] jasonduley commented on #9
here is an example: http://jsbin.com/help/how-can-i-embed-jsbin

use something similar to add a working test client for APIs on the page

[2015-03-19 14:01] gbinal opened #21 "Think about what the endpoint design says"
think about the expectations for the endpoint design -
- will there be other planets?
- will they allow the same sub-components?  (e.g. images, temperature)

[2015-03-19 14:17] jasonduley commented on #20
Gray, excellent feedback.  Can you send me an example of someone that has done this well?  thanks.

[2015-03-19 14:27] danhammer opened #22 "forcing redirect onto HTTPS (consistency in docs)"

[2015-03-19 14:28] danhammer opened #23 "key regeneration process, docs to redirect to api.data.gov keys"

[2015-03-19 14:30] danhammer opened #24 "fix contact us link"

[2015-03-19 14:32] gbinal opened #25 "Demo key limits"
If they are shared across all, they may run out asap.

[2015-03-19 14:32] danhammer commented on #20
[this one](https://www.twilio.com/docs/howto/walkthrough/two-factor-authentication/python/flask#1) is what the twilio guy pointed out.

[2015-03-19 14:32] jasonduley commented on #24
Dan,
I’ll handle all the UI related issues so you can focus on the APIs themselves
jason

From: Dan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: nasa/api-docs <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, March 19, 2015 at 7:30 AM
To: nasa/api-docs <api-docs@noreply.github.com<mailto:api-docs@noreply.github.com>>
Subject: Re: [api-docs] fix contac

[2015-03-19 14:33] gbinal commented on #2
One thing though, could the example sections on the right was horizontally lined up with the section on the left

[2015-03-19 14:34] gbinal commented on #8
e.g. `category`

[2015-03-19 14:34] gbinal opened #26 "the api key signup form example 404s"
When one creates an api key, an example return comes up and that one currently 404s

[2015-03-19 14:50] gbinal opened #27 "HTTPS"
It should be enabled and default, possibly even forced.

https://https.cio.gov

[2015-03-19 14:57] gbinal opened #28 "Consider an examples page"

[2015-03-19 15:50] gbinal commented on #20
Here you go - http://18f.github.io/API-All-the-X/pages/api_release_kit#interactive-sample

[2015-03-19 15:54] gbinal commented on #16
cc @gui

[2015-03-19 19:10] GUI commented on #16
@danhammer: I may not be understanding the question entirely, but are you talking about request or response headers? In other words, the headers your API backend sees or the headers the user sees?

If you're talking about request headers, then you can add or modify the HTTP headers your API backend sees on the request by going into the Admin, and navigating to Configuration > API Backends. From th

[2015-03-19 19:20] jasonduley commented on #16
I am a fan of seeing them explicitly in the URL
e.g.:
    http://api.nasa.gov/apod/v1/

[2015-03-19 19:24] GUI commented on #16
For whatever it's worth, I'm also personally fan of URL-based versioning (the [WH standards](https://github.com/WhiteHouse/api-standards#versions) cover this practice pretty succinctly). Versioning in any fashion is a good thing, though, so if you prefer HTTP headers, that's certainly fine, but from my personal experience I've just found URL-based versioning a little more straightforward and pract

[2015-03-19 20:12] danhammer commented on #16
I agree with you both.  It's currently in the URL (behind the scenes).  I wrote this issue to take notes on the feedback from our (awesome) Twilio developer/tester.  Consider #16 considered.

[2015-03-19 20:12] #16 closed

[2015-04-01 03:09] danhammer commented on #27
This has been fixed for the current domains.  @jasonduley, when we move over to our own domain, will it be **https**://api.nasa.gov?

[2015-04-01 03:09] #27 closed

[2015-04-01 03:17] danhammer commented on #18
This is moved to #29

[2015-04-01 03:17] #18 closed

[2015-04-01 03:17] danhammer commented on #12
This will require continuous work, but all explicit points from the usability session have been addressed.  closing.

[2015-04-01 03:17] #12 closed

[2015-04-01 03:19] danhammer commented on #2
@jasonduley thanks for taking this on.  the current layout supports the gutter examples.  We should probably just scrap the three-column layout in favor of your JSFiddles idea, build directly into the docs (as opposed to putting in the third-column).

[2015-04-01 03:21] danhammer commented on #25
I think that the language is now clear enough to note that if the user runs into *any* trouble with API key limits, then they should register for their own key.  This is true across sites that require api.data.gov keys.  I think our language is now consistent with general presentation.

[2015-04-01 03:21] #25 closed

[2015-04-01 03:22] danhammer commented on #22
addressed in #29

[2015-04-01 03:22] #22 closed

[2015-04-01 03:25] danhammer commented on #11
I think that, maybe, we should address this once we have the workflow figured out.  Thanks for taking this on, @jasonduley.

[2015-04-01 03:25] danhammer commented on #13
wrapping this into #28

[2015-04-01 03:25] #13 closed

[2015-04-01 03:27] danhammer commented on #28
actually wrapping this into #19

[2015-04-01 03:27] #28 closed

[2015-04-01 03:28] danhammer commented on #6
I am not sure what this note means, I'm afraid.  @gbinal feel free to reopen if you remember that this is important.

[2015-04-01 03:28] #6 closed

[2015-04-01 03:29] danhammer commented on #10
addressed in #29

[2015-04-01 03:29] #10 closed

[2015-04-01 03:30] danhammer commented on #7
rolling this into #17

[2015-04-01 03:30] #7 closed

[2015-04-01 18:56] danhammer opened #30 "apod chokes on youtube videos"
[`https://api.data.gov/nasa/planetary/apod?concept_tags=True&date=2014-03-24&api_key=DEMO_KEY`](https://api.data.gov/nasa/planetary/apod?concept_tags=True&date=2014-03-24&api_key=DEMO_KEY)

[2015-04-02 16:29] danhammer opened #31 "human voice recording tag for future space sounds endpoint"
It would be neat to identify a human voice in one of the space sound files before the user opens it, maybe using [this code](http://stackoverflow.com/questions/18009232/speech-or-no-speech-detection-in-python).

[2015-04-27 15:55] gbinal opened #33 "Change the contact-us link in the api key signup"
At http://nasa.github.io/api-docs/#apply-for-an-api-key, after filling out the form and requesting the key, the default language  includes a contact us link that goes to `https://api.data.gov/contact/`.  It would be better to have that link to `https://github.com/nasa/api-docs/issues` or the NASA API team's preferred contact mechanism.

It looks like this is hard baked into `https://api.data.gov/s

[2015-04-27 15:56] gbinal commented on #33
![screen shot 2015-04-27 at 11 50 58 am](https://cloud.githubusercontent.com/assets/633088/7351631/60f6ba5a-ecd4-11e4-8371-a4e12f92a9fc.png)

[2015-04-27 15:57] gbinal commented on #24
https://github.com/nasa/api-docs/pull/34

[2015-04-27 15:59] gbinal commented on #1
Somehow it looks like this either didn't happen or got rolled back.

![screen shot 2015-04-27 at 11 58 56 am](https://cloud.githubusercontent.com/assets/633088/7351696/d3c0687e-ecd4-11e4-8d61-9fdaf46a1224.png)

[2015-04-27 16:00] gbinal commented on #1
I put in some general info which satisfies this issue, but feel free to change if I'm off on this.

![screen shot 2015-04-27 at 12 00 01 pm](https://cloud.githubusercontent.com/assets/633088/7351733/08f85592-ecd5-11e4-9ff2-206adea48581.png)

[2015-04-27 16:00] #1 closed

[2015-04-27 18:31] GUI commented on #33
The "contact us" URL can be customized, but it unfortunately wasn't documented until recently. I've submitted a pull request that changes the contact URL to this issue tracker (but you're certainly welcome to tweak this however you best see fit): https://github.com/nasa/api-docs/pull/35 I've also updated the snippet with the other recent optional settings we've added to better tailor this signup p

[2015-04-27 20:05] martinsuchan opened #36 "HD image missing in APOD response"
I just found that the APOD API returns only link to the image in standard resolution, not the additional HD image that is sometimes available when visiting the webpage directly.

Like here: http://apod.nasa.gov/apod/ap150427.html
and the HD image: http://apod.nasa.gov/apod/image/1504/SpaceStationTerminator_Caxete_2048.jpg

It should be easy to add it to the API without even breaking existing apps

[2015-04-27 20:36] benjaminboruff opened #37 "No 'Access-Control-Allow-Origin' header is present on the requested resource. Does APOD allow CORS?"
It looks like https://api.data.gov/nasa/planetary/apod doesn't allow CORS? I can access it via my web browser just fine with my API_KEY, but not from my development web server running on localhost. Thus I get:
No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8080' is therefore not allowed access.

 I'm just wondering if that can be changed - to

[2015-05-02 20:26] knynkwl commented on #37
+1

[2015-05-02 20:36] knynkwl opened #38 "open links in new tab"
When opening a link (example query) it should open in a new window `target="_blank"`

[2015-05-02 20:37] knynkwl commented on #38
``` target ```

[2015-05-02 20:43] knynkwl commented on #36
+1

[2015-05-04 20:49] danhammer commented on #37
thanks.  I will work on this really soon -- this week?!  thanks for the note.

[2015-05-04 20:50] danhammer commented on #36
thanks for the note.  I'll get back to you shortly.  sorry for the delay!

[2015-05-04 21:10] chrisalexander opened #39 "Enable CORS on Landsat API"
As per #37, the Landsat API does not currently send an Access-Control-Allow-Origin header with responses.

[2015-05-12 14:43] AdamMurray commented on #37
+1

I would also really love to avoid jsonp

[2015-05-28 05:17] wnodom commented on #37
+1

CORS support would definitely be appreciated.

[2015-06-03 13:28] quicoto commented on #37
+1

[2015-06-03 17:20] danhammer commented on #37
Thanks so much for the issues.  I am slowly working my way through them.  CORS support is now supported for the APOD API.  (I will now move on to the Landsat API to address #39.)  And I'll close this issue, once I update the documentation.

There is also a new endpoint to allow CORS support for the image itself, rather than just the JSON response.  So, check it out:

**QUERY**:

[code]

**RESONSE*

[2015-06-03 18:26] danhammer commented on #36
Ok!  Slowly checking this off.  I will close this comment when I update the docs.  There is a now new parameter, `hd`, which defaults to `False` for **both** endpoints discussed [here](https://github.com/nasa/api-docs/issues/37#issuecomment-108530992).  For example,

[code]

[code]

**VERSUS**

[code]

[code]

[2015-06-03 18:32] danhammer commented on #30
This has been addressed.  There is now a `media_type` field in the response, which can either be `image` or `video`.

[code]

[code]

[2015-06-03 18:32] #30 closed

[2015-06-03 18:33] danhammer commented on #2
any updates on this issue, @jasonduley?  should I close this issue or are you planning on adding the JSFiddle stuff?

[2015-06-03 18:35] #4 closed

[2015-06-03 18:35] jasonduley commented on #2
keep it open.  I am still planning on adding this feature

[2015-06-03 18:36] danhammer commented on #11
@jasonduley any updates?  earth endpoint still first.

[2015-06-03 18:38] danhammer opened #41 "quicker access to examples"
When you visit the current front page, it is difficult to find example usage and docs for the listed APIs.  It is now buried at [https://api.nasa.gov/api.html](https://api.nasa.gov/api.html).  The first thing under [**Getting Started**](https://api.nasa.gov/index.html#getting-started) should be example usage.  No one reads text, they go directly to linked examples.

[2015-06-03 18:42] danhammer opened #42 "organizational disconnect"
The organization of the left-hand side index of the [index.html](http://api.nasa.gov/) versus [api.html](http://api.nasa.gov/api.html) is confusing.  There are repeated entries, but not everything is repeated.  I think that the examples listed at [http://api.nasa.gov/api.html](http://api.nasa.gov/api.html) should be a first-order element on the front-page.

[2015-06-03 18:43] danhammer opened #43 "https"
The documentation should require https, as it did before.

[2015-06-03 21:56] martinsuchan commented on #36
Hi, that's not exactly the solution I was hoping for. Usually I need in my app both standard image for preview and HD image for download. For getting both images I'd need to use two requests, or just one and use the HD image everywhere.
Better solution could be having in the response both "url": and "hdurl": with both images?

[2015-06-04 03:36] wnodom commented on #37
Thanks so much, Dan! Can't wait to give it a try.

[2015-06-04 10:26] AdamMurray commented on #37
Great work Dan! Once I stop being an idiot at JS I'll be using this thoroughly

[2015-06-04 17:00] benjaminboruff commented on #37
Excellent! I was able to query/receive the APOD JSON string from my local test webserver that serves up an AngularJS test app. Sweet! I'm sure we will all help out with testing ... just light the beacons!
-Ben
Benjamin H Boruff
benboruff@gmail.com
benjaminboruff.github.io

[2015-06-04 17:44] danhammer commented on #37
awesome!  thanks for the support @wnodom, @AdamMurray, and @benjaminboruff!  I am progressively adding features, trying desperately not to change the structure of the response (just adding to it).  The new Landsat endpoints are going to be sweet.

[2015-06-05 15:49] danhammer commented on #39
I've added CORS support for the meta queries like this:
[code]
I am going to leave this issue open, however, because I am still working on enabling CORS for the image itself -- which is served out through Earth Engine.  @chrisalexander, is this issue regarding the metadata associated with the Landsat images, or the actual image, or both?  If the latter two, I will close this issue and open a new o

[2015-06-05 15:54] danhammer commented on #36
I added this functionality.  Please keep me posted on what you're doing with it!!  I'd love to see.

[code]

[code]

[2015-06-05 16:04] AdamMurray opened #44 "APOD api suggestion: add ability to return images based on a number or date range"
I'm thinking of something like:

https://api.nasa.gov/planetary/apod?count=10&api_key=DEMO_KEY

to return the 10 most recent images. Or:

https://api.nasa.gov/planetary/apod?startDate=2015-04-27&endDate=2015-01-01&api_key=DEMO_KEY

to return images between the start and end dates.

[2015-06-07 22:41] benjaminboruff commented on #44
+1
I like this idea. The start and end dates would probably suffice. I was going to write a frontend app to craft the appropriate number of requests based on user input, but that would mean a lot of requests - those are expensive in terms of time to get the data, then process and request the images, etc.... So instead of 10 requests/responses, there would only be one request/response. (The JSON re

[2015-06-10 06:30] benjaminboruff opened #45 "What are the possible "media_type" values in the APOD response?"
I know there are "image" and "video" (my app broke when today's url pointed to a youtube video instead of an image, but it was cool to fix it :) Anything other than those two types?

[2015-06-14 17:16] benjaminboruff opened #46 "Connection error response issues/architecture for api.nasa.gov"
This is hard to explain ...
This weekend, there were obviously some sort of connection issues to the APOD api endpoint. I was a bit perplexed as to why my app failed to deal with this issue. My AJAX requests use promises to deal with both successful and failed http get requests to the APOD api.

So I logged the response from api.data.gov to my console, and it was clear: a "failed" connection to th

[2015-06-18 20:04] chrisalexander commented on #39
Hi @danhammer - thanks, that is working nicely.

There is no need to do the image URLs - they can be loaded using an img tag quite easily.

Thanks very much!

[2015-06-22 16:34] gdomingu commented on #44
+1

[2015-06-22 16:48] gdomingu opened #47 "APOD query by attributes other than date."
Hello, I absolutely love APOD and I was so happy to discover your API last week. I've been working on a ruby gem as a side project and was wondering if you have any plans to allow query by keywords?

That way you could send something like
https://api.nasa.gov/planetary/apod?q=nebula&concept_tags=True&api_key=DEMO_KEY
And get back posts that have the word "nebula" in it.

Thanks!

[2015-06-22 16:55] gdomingu opened #48 "APOD API response with date"
Wondering if it would be possible to expose the posted_at date in the response body just so it's easy to compare the expected post with the response?

[2015-06-22 17:01] gdomingu opened #49 "APOD API expose image credit"
Hi again, sorry for all the requests.

I know on the APOD website it makes a point to credit the images to their owners and has a disclaimer about sharing images on the about page (http://apod.nasa.gov/apod/lib/about_apod.html).

Would it be possible to expose the image credit in the API response so we can build in handling for those not in the public domain?

[2015-06-23 03:37] j127 opened #50 "API registration form doesn't work for me"
When I submit the form on the [API registration form](http://api.nasa.gov/#contributing), it POSTs to `https://api.data.gov/api-umbrella/v1/users.json?api_key=SOME_KEY` with a _403 Forbidden_ error in response. Firefox 38.0.5 on Windows 8.1.

Screenshot:

![nasa_api_registration_error](https://cloud.githubusercontent.com/assets/96479/8298509/7c7b2254-191e-11e5-9440-977b910adfaa.png)

[2015-06-23 03:42] j127 opened #51 "Broken link to API template"
There is a broken link on [the API info page](http://api.nasa.gov/index.html). Look for the text that says, "Once you have a running service and a robust API in place, submit an API template describing your API..." The words _API template_ link to https://github.com/nasa/blob/staging/API_template/your_api.html, which is a 404 error. (Maybe it's a private Github repo?)

[2015-06-23 16:34] #43 closed

[2015-06-23 16:35] jasonduley commented on #51
thanks!

[2015-06-23 16:35] #51 closed

[2015-06-23 16:40] #11 closed

[2015-06-23 22:46] j127 commented on #50
Update: it did work for me in Chrome, Incognito mode (no plugins). I still get a 403 in Firefox.

[2015-07-06 22:06] gbinal opened #52 "example API query 404s"
I just created an API key and the resulting page (and email that was sent to me) had an example API request just like this:  `https://api.nasa.gov/api.nasa.gov/nasa/planetary/apod?api_key=MY_API_KEY&format=JSON`.  But that returns a gh-pages 404.

[2015-07-07 13:06] jasonduley commented on #52
fixed, thanks.

[2015-07-07 14:16] isaachinman opened #53 "Earth (Landsat) API Image Compiling"
I'm currently building a web app with the Earth (Landsat) API, and am frustrated at its limited functionality. The images are quite small (0.025° x 0.025°), so trying to grid out a map at any reasonable zoom level requires hundreds of requests.

It'd be quite easy to compile images server-side and then serve such compiled images. Off the top of my head, this could be done in PHP ([example](https:/

[2015-07-09 14:12] gbinal commented on #52
Thanks, Jason!

I believe that the example link in the email still 404's though - maybe because it's relative?

I'm reopening the issue just in case.

[2015-07-10 12:02] jasonduley commented on #52
yep, it was relative. I updated to absolute URL which I agree with you, is better.  Thanks.

[2015-07-10 12:02] #52 closed

[2015-07-17 08:12] MichalPaszkiewicz commented on #44
+1

[2015-07-17 15:00] brianthomas commented on #44
+1

[2015-07-20 23:51] benjaminboruff opened #54 "APOD: Only Content-Type and cache-control headers return non-Null values"
These are the headers the APOD API response are supposed to return, but I'm only getting the Content-Type and cache-control headers as non-Null values. Anyone else getting Null for the other header values? The X-RateLimit-Remaining is kind of important to know!

[code]

Don't we also need something like an access-control-expose-headers for the X-RateLimit-Remaining header on the server? (see secti

[2015-07-21 00:10] benjaminboruff commented on #54
FYI: Access-Control-Expose-Headers cannot accept a wildcard!

[2015-09-29 12:02] Ricool06 opened #57 "APOD API documentation could use some updating."
Dan has added new functionality to the APOD API such as ?hd and ?direct but the official API reference still only states that 3 parameters are available:

Parameter | Type | Default | Description
--- | --- | --- | ---
date | YYYY-MM-DD | today | The date of the APOD image to retrieve
concept_tags | bool | False | Return an ordered dictionary of concepts from the APOD explanation
api_key | string |

[2015-10-08 21:31] jasonduley commented on #57
thanks @Ricool06 its been updated

[2015-10-08 21:31] #57 closed

[2015-10-21 09:23] milesthedisch opened #58 "CORS for neows?"
Getting a cross origin error, when making a ajax request.

[2015-10-21 17:17] Ricool06 commented on #58
Use the CORS enabled image request.
[code]https://api.nasa.gov/planetary/apod/direct?api_key=DEMO_KEY[/code]
The "direct" part is the important bit.

[2015-10-22 01:01] dgreenfield0 commented on #58
Hey @milesthedisch, Thanks for letting us know about the issue. We just deployed an update to Neows that should allow cross-origin GET requests. Please let me know if you have any issues.

Thanks,
Davidg

[2015-10-22 03:27] milesthedisch commented on #58
Thanks David it works! Thanks for getting to it so fast!

Feeling very cool cause im talking to a person that works at NASA!

Hey also a suggestion for the query parameters maybe add a parameter for size?

Also how did i asteroids that have already impacted earth?

[2015-10-22 16:06] dgreenfield0 commented on #58
Hey @milesthedisch, Glad to hear it's working again.
also to note, I actually don't work at NASA. My team and I built and maintain NeoWs, which is offered via NASA's api.  You can or tweet us at: https://twitter.com/SpaceRocksApps

The query param suggestion is a great idea. Actually, we are working on adding the ability to search on specific attributes of an asteroid.

Thanks,
Davidg

[2015-10-27 22:45] dgreenfield0 commented on #58
@jasonduley This issue can be closed.

Thanks,
Davidg

[2015-10-28 15:26] #58 closed

[2015-11-06 19:49] joshuatbrown commented on #49
I like this idea.

[2015-11-06 19:51] joshuatbrown commented on #44
Yes please! :+1:

[2015-12-10 19:57] Rabrg opened #61 "Planetary API over quota"
The planetary API has been going over quota halfway through the day for the past two days.

[2015-12-10 20:05] jasonduley commented on #61
yes.  we are aware of the issue and are working to resolve it.  thank you.

[2015-12-11 20:21] benjaminboruff commented on #61
+1

[2015-12-18 16:49] The-Penultimate-Defenestrator opened #62 "No imagery for specified date with certain locations"
I'm using the following python code to retrieve satellite imagery. However, when I try to open the URL I get an error about date.
[code]

The URL outputted by this code is `
https://api.nasa.gov/planetary/earth/imagery?lon=41.7475067&lat=-74.0968971&date=2015-12-18&api_key=ymjXp9qz2jJDR5tNEb0qa5YekynvAcVLJvKVcxYH`.

I've found that there are several locations for which I get date errors, simply by

[2015-12-18 17:16] The-Penultimate-Defenestrator commented on #62
Never mind, my mistake. I was passing latitude and longitude backwards.

[2015-12-18 17:16] #62 closed

[2015-12-18 22:28] The-Penultimate-Defenestrator commented on #61
Any update? This is affecting one of my projects, even if I register a brand new API key, I get an "over quota" error on my first request

[2015-12-19 01:02] The-Penultimate-Defenestrator commented on #61
Possibly related to the deprecation of the Google Earth API? This took effect December 12 (6 days ago) and the URLs returned by the planetary API appear to point to a google site.

[2015-12-19 01:32] The-Penultimate-Defenestrator commented on #53
+1 for this

[2015-12-19 03:39] isaachinman commented on #53
@The-Penultimate-Defenestrator

Hey, it's been quite awhile since I've used the API. From what I recall, the image files themselves are a set size (delivered straight from the satellite), so any stitching or compiled tiles would have to be an additional feature.

[2015-12-19 13:06] The-Penultimate-Defenestrator commented on #53
There is a `dim` argument, described as:

And the default is 0.025

[2015-12-19 14:10] controversial opened #63 "Dim parameter broken"
In your Planetary Imagery API, the `dim` parameter is broken. I think your API does not convert it from the string (as it is in the URL) to an integer before dividing.

[2015-12-19 16:52] The-Penultimate-Defenestrator commented on #53
My Python stitching code:
[code]

[2016-01-07 18:19] dinizthiagobr opened #65 "hd parameter not working for APOD"
The 'hd' parameter on APOD's API is not being accepted, it returns:

[code]

But on your website it is still listed as a valid parameter.

[2016-01-07 18:32] brianthomas commented on #65
I don't thing "HD" is an allowed parameter. My reading of the source shows that neither the code nor the docs (README) show that parameter as allowed.

[2016-01-07 18:36] jovrtn commented on #65
The 'hd' parameter was working in the previous version of the API, and is still listed on the APOD documentation: https://api.nasa.gov/api.html#apod

[2016-01-07 18:45] brianthomas commented on #65
Interesting. I just grepped the repo for the code and couldn't find it. Perhaps there is some kind of service interceptor at work here or perhaps it passes that parameter through to the underlying service somehow? I can't find anywhere in the codebase where it actually grabs from a different base url. @danhammer  will have to answer this one.

[2016-01-07 18:50] jovrtn commented on #65
The return value was `hdurl` if that helps, but it was definitely work just yesterday before the "service_version": "v1" update.

The return values from yesterday's picture for reference:

[code]

[Also note that `media_type` seems to be gone from the new version, too.]

[2016-01-07 18:51] brianthomas commented on #65
I have a partial answer now. Looking at the apod code, its passing the high resolution image along by default. Make a call to the service for today, and you will see that the returned image url is the high resolution one.

[2016-01-07 18:53] brianthomas commented on #65
When I transferred the code over, I put in parameter validation. I believe (and Dan can correct me) that the prior service didnt validate the input query parameters, and 'hd' was simply passed through. It doesn't appear to have any effect (in the old code); you always got the high resolution image.

[2016-01-07 18:54] jovrtn commented on #65
@brianthomas Thanks for looking into it, however just checking against the APOD webpage, today's returned image is definitely the low res one:

API-returned image:
http://apod.nasa.gov/apod/image/1601/PIA20061NuSTARAndromeda600h.jpg

High res image from clicking on the picture on the webpage: http://apod.nasa.gov/apod/image/1601/PIA20061NuSTARAndromeda.jpg

[2016-01-07 18:55] dinizthiagobr commented on #65
Can't agree with you, @brianthomas , there was a difference. And by calling the service today you get the low resolution image.

[2016-01-07 18:56] jovrtn commented on #65
@brianthomas I haven't observed that to be the case using the API up until now—there was usually a difference between the url and hdurl values.

[2016-01-07 18:56] dinizthiagobr commented on #65
And as @jovrtn said, you used to get the high resolution image in 'hdurl' return parameter if using 'hd=True' during the call.

[2016-01-07 18:57] brianthomas commented on #65
Well, perhaps Dan was deploying from a different repo; I can only go with the code I see. Media_type is not present, neither is hdurl (I'd show you all the 'evidence' but the repo is private, unfortunately)

[2016-01-07 18:58] dinizthiagobr commented on #65
So that must be it. Media_type and hdurl was present for sure.

[2016-01-07 18:59] dinizthiagobr commented on #65
https://github.com/nasa/api-docs/issues/36

Check this issue opened a while ago, might be helpful for you guys to figure it out.

[2016-01-07 19:09] brianthomas commented on #65
Well, unless I can nail down the exact code which was deployed, the best I can do is to try to restore the functionality in the current service. Does media_type ever return any other value than "image"? The HD parameter should be straightforward to implement, but I wonder if is simply would be better to always supply the 'url' and 'hdurl' values instead (its not exactly a lot of extra bytes).

I a

[2016-01-07 19:11] dinizthiagobr commented on #65
Suplying both 'url' and 'hdurl' seems good.
'Media_type' returns "image" or "video" in my limited experience with the API.

[2016-01-07 19:13] jovrtn commented on #65
In the case of the "video" media type, `url` was populated with the video embed link (e.g. https://www.youtube.com/embed/zR3Igc3Rhfg?rel=0) and `hdurl` wasn't returned at all.

[2016-01-07 19:20] brianthomas commented on #65
@jovrtn can you provide me with an apod date where there was video on that day?

[2016-01-07 19:22] jovrtn commented on #65
2015-12-28 was the most recent I believe.

[2016-01-07 19:25] jovrtn commented on #65
Out of curiosity, I queried the current version of the API for that date and it returns:

[code]

Technically it's correct that there was no *picture* posted that day, but there was still content posted to APOD.

[2016-01-07 19:29] brianthomas commented on #65
Yeah, thats an issue with the date time zone of the deployed service. I believe that since the deployed service is in a different timezone now (GMT vs EDT where the APOD is, I think) it can fail for certain times of the day. I thought we had addressed this in prerelease testing, but looks like the issue is back. @jovrtn can you open a separate issue for that please?

[2016-01-07 19:46] jovrtn commented on #65
Happy to open an issue for the timezone thing if that's also occurring, however it appears that that all dates with videos are consistently returning "No APOD imagery for the given date" so I'm not sure if the issues are related.

For reference, these are the full API results from the 3 most recent video posts:

**2015-12-28**
[code]

**2015-12-25**
[code]

**2015-12-22**
[code]

As I mentioned, f

[2016-01-07 19:55] brianthomas commented on #65
Ok, I've made a change to add back in "hdurl" in the response. The "HD" parameter should also be allowed now, but its ignored. You always get back url and hdurl fields in the response now. Let me know if its working right for you all.

[2016-01-07 20:08] jovrtn commented on #65
Looks good here; working for both today's date and previous entries using the date parameter. Thanks!

[2016-01-07 20:15] brianthomas commented on #65
OK, I just hacked in the missing 'media_type' parameter and handling of video content. Please take a look and let me know of any issues; one (minor, I think) difference, is that the current service incarnation will return "hdurl = null when the content is video. Is this acceptable?

[2016-01-07 20:23] brianthomas commented on #65
@jovrtn I now grok what you were trying to tell me about the video, I don't think there is a need (unless I am still missunderstanding) to open a new issue.

[2016-01-07 20:25] jovrtn commented on #65
It's a minor point, but there's a semantic difference between them where returning a null value might mean that it's possible for a video to have a high res version but that it's just not available for the current resource, but omitting it entirely leaves no doubt that an hdurl is not part of the presentation for video resources.

I would vote to not return it if possible, however in the short ter

[2016-01-07 20:30] brianthomas commented on #65
OK @jovrtn  I hear you. I've redeployed a version of the service where hdurl will be omitted when its not present in the original page.

[2016-01-07 20:42] dinizthiagobr commented on #65
Everything working here @brianthomas , thank you for the fast response.
Feel free to close this issue if everything's set and done.

[2016-01-07 22:12] #65 closed

[2016-01-10 00:23] Dinchy87 opened #66 "Video format sometimes in the APOD API"
hi guys, im using this API APOD for my Windows universal app and so far i like it a lot but is have a small issue with it or two issues.

The first one is that i need only Pictures in my app but he APOD API gives sometimes an Video back, my question is, can it be done that with this Video in the API there is also an Picture fromt his Video some. Or some way to opt out the Video. Currently i parse

[2016-01-10 02:05] The-Penultimate-Defenestrator commented on #66
as far as the first issue, solve it on your end. If there's a video today, call the API again with yesterday as the date. Just see whether what you get back is an image or video, and if it's a video keep going back in time until the API returns an image

[2016-01-15 03:51] sabsowitz opened #67 "No APOD imagery for the given date"
I'm not sure if this had been submitted as an issue. I use APOD on my website using my api key. I've noticed that every evening (eastern time), APOD stops displaying on my website. It works for most of the day, and then stops working... very frequently. Investigating, I made an api call with my api key, and returned the following json:

{
  "error": "No APOD imagery for the given date.",
  "messag

[2016-01-15 18:55] brianthomas commented on #67
I think this is a result of the port to Heroku. The service is issuing GMT time vs APOD underlying site which is on the east coast of US (I think). The ~4-5 hr time gap results in a period of time of the same size where the service is trying to grab the *next* day (into the future) rather than current day. I'll try to fix it.

[2016-01-15 19:40] brianthomas commented on #67
I've pushed a fix to the service, please see if this fixes the issue for you

[2016-01-15 19:51] brianthomas commented on #66
For the second issue, it may be related to timezone mismatch problem in https://github.com/nasa/api-docs/issues/67. I've pushed a fix where it will check for the prior day if the current (today's) day appears unavailable (this is only in the case you *didnt* specify the date param). Since this appears to be addressing the same problem, and I agree with the prior comment about the first issue, I wi

[2016-01-15 19:51] #66 closed

[2016-01-15 19:52] brianthomas commented on #54
Hi, can you update on whether this is fixed in the refactored deployment?

[2016-01-15 19:53] brianthomas commented on #49
This is now fixed in the current deployment. When there is a copyright on an image/video, it will appear in the return JSON.

[2016-01-15 19:53] #49 closed

[2016-01-15 19:54] brianthomas commented on #48
Sorry, I don't understand the request here; what do you mean by posted_at date?

[2016-01-15 19:56] brianthomas commented on #47
This isn't easily possible. We don't maintain a cache of prior APOD pages (and no current plan to do so), so we can only try to match text on the page for the indicated date. But this functionality is trivial for the client, we already pass the description field back in the JSON so you can test today's page this way.

[2016-01-15 19:56] #47 closed

[2016-01-15 19:57] brianthomas commented on #45
No, those are the only 2 values, currently.

[2016-01-15 19:57] #45 closed

[2016-01-15 19:58] brianthomas commented on #37
Closing issue as it looks solved (and, I'll note that CORS is enabled in Flask APOD-API)

[2016-01-15 19:58] #37 closed

[2016-01-15 20:00] brianthomas commented on #36
Note: HD flag in the lastest refactor is allowed, but effectively does nothing. We always pass back hdurl and url if they are available.

[2016-01-15 20:00] #36 closed

[2016-01-15 20:42] gdomingu commented on #48
Sorry I can't remember what I as asking with this. Maybe I didn't see the "date" in the response. Will close.

[2016-01-15 20:42] #48 closed

[2016-01-15 20:43] gdomingu commented on #47
Got it thanks!

[2016-01-19 02:38] sabsowitz commented on #67
Fixed.

[2016-01-19 14:27] #67 closed

[2016-03-24 11:34] lockwooddev commented on #63
It still is broken.

`https://api.nasa.gov/planetary/earth/imagery?lon=100.75&lat=1.5&date=2014-02-01&cloud_score=True&api_key=DEMO_KEY&dim=0.5`

`{"message": "Admins have been notified.", "error": "unsupported operand type(s) for /: 'unicode' and 'int'"}`

[2016-03-30 18:56] benjaminboruff commented on #61
OK, I think there is something seriously wrong with this rate-limit issue. There needs to be a more specific rate limit guideline, like x-reqs per second! There is no way to get 1000 reqs per hour when I can't even get 300 reqs in a few minutes.

If I slow down my reqs using a timer (setTimeout in Node.js) such that my first req occurs in 500 ms, then the second in 1 sec, the third in 1.5 sec, the

[2016-03-30 20:09] benjaminboruff commented on #61
Wow. Even with a 10 sec interval between requests, only slightly over 50% of them return data **_without_** an error code 500, Internal Service Error.

[2016-03-30 21:31] The-Penultimate-Defenestrator commented on #61
I'd personally try to get into Google's earth engine API. I think this is
what powers NASA's API. Check out https://earthengine.google.com/

On Wed, Mar 30, 2016 at 4:10 PM Benjamin Boruff <notifications@github.com>
wrote:

[2016-03-30 21:57] benjaminboruff commented on #61
I'll take a look! I was really hoping for space data, though ... :(

-------------------------------------------------
{
  "name": "Benjamin Boruff",
  "title": "MEAN Developer",
  "url": "http://benjaminboruff.github.io",
  "email": "benboruff@gmail.com",
  "twitter": "@BenjaminBoruff"
}

On Wed, Mar 30, 2016 at 5:31 PM, Luke Deen Taylor <notifications@github.com>
wrote:

[2016-03-31 06:56] benjaminboruff opened #69 "Some dates always return 505 code, Internal Service Error"
If you try to access some dates, such as 1995-06-16 (the APOD birthdate!), or 1996-07-28, or many, many other seemingly random dates, they ALWAYS return a code 505 "Internal Service Error."

Out of a sample of 1000 consecutive, valid dates, I found about 25% always return the 505 code. I have tried using a browser, curl, Node.js, PHP, etc. All the same. If this occurs for only specific dates, does

[2016-06-07 12:51] krlbaker opened #71 "HTTPS Image URLs"
Thank you for all the work you have done on this project. I absolutely love the APOD. I am looking to build an app that utilizes the APOD and one of the requirements is the image urls have to be secure with https:// paths. Would it be possible to make these available? I tried changing the link to secure but did not get a response from the host.

Thank you!

[2016-06-07 15:38] jasonduley commented on #71
unfortunately the backend site we are scraping this from only supports HTTP

[2016-06-07 15:38] #71 closed

[2016-06-24 13:12] suemareverton commented on #44
+1

[2016-06-28 16:59] jareis opened #73 "404 links"
All links in the api-docs/source/index.md are returning 404

[2016-06-28 18:14] jasonduley commented on #73
please try it again

[2016-06-29 08:25] jareis commented on #73
Hello @jasonduley,

The problem still exists.

After comparing the info on the index.md with the info in https://api.nasa.gov/api.html I noticed, that the URL are not the same:

**URL on index.md:** https://api.data.gov/nasa/planetary/earth/imagery?lon=100.75&lat=1.5&date=2014-02-01&cloud_score=True&api_key=DEMO_KEY

**URL on api.nasa.gov:** https://api.nasa.gov/planetary/earth/imagery?lon=100.75&

[2016-06-29 14:16] jasonduley commented on #73
I see.  The file index.md in master is no longer current.  I've just been maintaining the site in the staging branch.  please use the URL on api.nasa.gov

[2016-06-29 14:16] #73 closed

[2016-07-10 11:56] martinsuchan opened #74 "Enforce HTTP Strict Transport Security on api.nasa.gov"
For better security and for preventing various Protocol Downgrade Attacks the endpoint **api.nasa.gov** should enforce **HTTP Strict Transport Security** - add response header indicating that all communication should always happen on HTTPS.
Since api.nasa.gov works already only on HTTPS, adding HSTS should not break anythng, only imrpove the security for all the clients.
For more details about HST

[2016-07-10 11:59] martinsuchan commented on #44
I like this idea. It might be sufficient to add endpoint for returning all images published in the target month, somethng like:
https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY&month=2015-04

[2016-09-24 09:05] martinsuchan commented on #69
This is a duplicate to this issue:
https://github.com/nasa/NASA-APIs/issues/14

Here's my summary when I was checking for missing dates:

I've created fetch script to check all days since the start of APOD on 20th June 1996 and found 530 missing days on server returning INTERNAL SERVER ERROR, that's about 7% of all APOD images published since the start.

The full list of days that return error is

[2017-01-07 08:51] sd65 opened #79 "APOD: API return incorrect url"
Hi all,

I love the APOD API and I discovered a change in behavior recently : the pictures are now served in https.
That's a great news, who doesn't love https ?
However, the APOD API still return pictures URL in http : exemple. This is not a big deal because you get a 302 redirect and you will eventually get the picture in https.
Nevertheless, I think https should be indicated by default. It avoi

[2017-01-09 14:46] brianthomas commented on #79
Yes, I think that’s a great idea.

=brian thomas

—
Brian Thomas, Ph.D.
OCIO Agency Data Scientist
Office of the Chief Information Officer
NASA Headquarters/2N29
300 E. Street SW
Washington, DC 20546
Office: 202 358 1580
Cell: 202 836 3364

From: Sylvain Doignon <notifications@github.com<mailto:notifications@github.com>>
Reply-To: nasa/api-docs <reply@reply.github.com<mailto:reply@reply.github.com

[2017-01-10 04:08] JeffreyCA opened #80 "Cannot Connect to APOD via HTTPS on Pre-Lollipop Android devices"
I am trying to connect to APOD resources such as https://apod.nasa.gov/apod/astropix.html on Android using OkHttp, but I keep getting an SSL Handshake error. This occurs on devices running Android versions earlier than 4.4.2.

I ran some tests on SSLLabs and here are the results: https://www.ssllabs.com/ssltest/analyze.html?d=apod.nasa.gov&s=129.164.179.22

Note all of the pre-4.4.2 devices result

[2017-01-25 18:08] krlbaker opened #81 "API Response Date Value UTC?"
I have noticed that the "date" value in the API response rolls to the next day around 7pm EST. My guess is the date is being set to UTC. Can anyone confirm? This is the request I made at 1pm EST, if I make the same request after 7pm EST tonight, the date value will be 2017-01-26.

[code]

[2017-01-25 18:18] ehalls commented on #81
Why not improve the accuracy by including  HH:MM:SS as stored in a typical
rdbms? Trimming that information only leads to a need to possess knowledge
about the system that produced the output. Hence coupling you to depending
on docume tation and a forum, such as this mailing list.

On 25 Jan 2017 6:08 p.m., "Kris" <notifications@github.com> wrote:

[2017-01-25 19:21] vadave opened #82 "Adopt openapi spec for API documentation?"
I was trying to follow along your documentation on [contributing](https://api.nasa.gov/index.html#contributing), and was surprised when I got to the instructions about submitting an [API template](https://raw.githubusercontent.com/nasa/api-docs/gh-pages/API_template/your_api.html). With the widespread adoption of the [openapis.org](https://www.openapis.org) spec I'd recommend using that format for

[2017-01-25 20:06] krlbaker commented on #81
A follow up question / thought, when does the API roll to the next day for the other values? Is that at UTC midnight or EST midnight or CST midnight?

[2017-01-25 21:23] brianthomas commented on #81
Hi All,

The title seems deceptive, but I think you are specifically talking about the APOD API service, right?

If so, then yes, it’s a known issue. The problem flows from the fact that the Heroku backing server is supplying time in UTC but the original site where APOD is hosted is on the East Coast of the US.

It’s a long standing issue which I have half-heartedly tried to fix (spent an hour on

[2017-01-25 21:43] ehalls commented on #81
I am not sure of the requirements but generally:

It should be up to the consumer to decide the final date format. Date
should be turned into a value object containing two properties. One with
the human readable format, if necessary, and a generic timestamp from which
it was derived so that location is irrelevant.

This reduces the minor processing overhead which will most likely occur
when the js

[2017-02-07 00:55] rjbergerud commented on #63
Still broken +1

[2017-02-22 12:47] JamesBedford commented on #63
Still broken, I guess this is an out-of-date resource. Perhaps we should be using GIBS instead?

[https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+API+for+Developers](https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+API+for+Developers)

[2017-03-16 17:58] #81 closed

[2017-03-20 10:16] berraknil opened #83 "CORS is not enabled for Curiosity without a Demo API Key on Mars-Photos API"
Hi, I'm currently making a web app using the Mars-Photos API, the problem is if I don't use a DEMO_KEY (which as you might guess only allows for a certain amount of calls) and use my specific dev key instead, I can only request information about Opportunity and Spirit rovers and Curiosity just gives me a __"No 'Access-Control-Allow-Origin' header is present on the requested resource."__ error.
![m

[2017-03-20 15:47] jasonduley commented on #83
@chrisccerami please chime in on this one.  thanks.

[2017-03-22 04:55] berraknil commented on #83
I would really love to have an update on this, at least a confirmation if this is from a server side CORS problem or not, since it's breaking the app I'm working on right now, rendering it useless. Thank you for your time.

@jasonduley thank you for the response.

[2017-03-22 13:43] brianthomas commented on #83
AFAIK, nobody is actively developing this code. I would love to see it open sourced so that the community could contribute patches (I don’t have cycles to fix it either), but Software Release Authority folks are very slow. We are trying tho.

=]brian

From: Berrak Nil Boya <notifications@github.com>
Reply-To: nasa/api-docs <reply@reply.github.com>
Date: Wednesday, March 22, 2017 at 12:55 AM
To: na

[2017-03-22 14:30] berraknil commented on #83
@brianthomas Thanks for the reply! I agree that it would be better if these APIs were open sourced and open to contributions. It just seems weird that the other two rover photos are reachable but Curiosity isn't via using a specific API Key,  Well, I guess I'm gonna have to stick to the demo key and hope I won't hit the limit since it's a demo concept for now.

[2017-03-22 14:38] chrisccerami commented on #83
@brianthomas @berraknil I don't know what Brian is talking about. I am the maintainer of the API, and it IS open source. No one has ever contributed any patches, but that doesn't mean that people are not able to or that it is not open source. The repo is located here: https://github.com/chrisccerami/mars-photo-api/. I recommend you open an issue there and I can try to look into it when I get a cha

[2017-03-22 15:04] #83 closed

[2017-03-22 16:07] jasonduley commented on #83
correct.  @chrisccerami maintains this API as a citizen scientist project.  @brianthomas and I catalog a bunch more APIs and some of those do not have the source released nor are they actively supported.

[2017-04-07 18:41] gabi579510 opened #84 "APOD Android SSL Error"
I retreive this error if I make request from Android 4.4 with Retrofit
Error:SSL handshake aborted: ssl=0xb97c6460: I/O error during system call, Connection reset by peer

URL:https://api.nasa.gov/planetary/apod?api_key=.........

GET
HEADERS:"Cache-Control: no-cache",
        "Accept: application/json”

Request{method=GET, url=https://api.nasa.gov/planetary/apod?api_key=......, tag=null}

Respons

[2017-04-07 19:03] jasonduley commented on #84
we recently updated all secure traffic on api.nasa.gov to use HSTS (latest).  Please ensure your clients can support this.  https://https.cio.gov/guide/

[2017-04-09 18:53] gabi579510 commented on #84
jasonduley can you suggest me an solution for this problem ! I'm trying to set this in headers but nothing Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

[2017-04-24 18:27] brianthomas commented on #61
Closing this as it is a deployment, not code issue which we can fix.

[2017-04-24 18:32] brianthomas commented on #80
I just ran your tests from ssllabs and it ran OK for me ("Grade B" for both tests although I admit to having no idea what the grading system means..)

[2017-04-24 18:45] jasonduley commented on #80
thanks @brianthomas
we had to implement OMB Mandate M-15-13 https://https.cio.gov/guide/ and update all of our SSL configurations to the newest versions and this is most likely the cause of your client breaking

[2017-04-24 19:28] JeffreyCA commented on #80
Hello, thanks for the response!

I totally forgot about this open issue, but I managed to solve this with a combination of [this](https://github.com/square/okhttp/issues/2372#issuecomment-244807676) and [this](https://developer.android.com/training/articles/security-gms-provider.html).

[2017-04-24 19:28] #80 closed

[2017-04-26 20:29] andrewconnell opened #85 "Image API Not Respecting CORS"
The docs for the images.nasa.gov Image REST API says it supports CORS:
https://images.nasa.gov/docs/images.nasa.gov_api_docs.pdf

However, client side calls are being kicked back:

[code]

Oversight?

[2017-05-03 16:44] jasonduley commented on #85
The APOD API is a different API from this API (which is the API to images.nasa.gov).  I'll forward a note to that admin.  Sorry for the confusion, I agree CORS should be enabled.

[2017-05-04 13:17] andrewconnell commented on #85
Thanks @jasonduley. Is there a different repo to track that API? Had a hard time finding a spot to find more information on that API other than the single PDF.

[2017-05-04 13:59] jasonduley commented on #85
just added a pointer for the API to api.nasa.gov.  Please track it here!

[2017-05-17 13:59] sfatfarma opened #86 "Error "unsupported operand type(s) for /: 'unicode' and 'int'" when trying to set 'dim' parameter for Earth imagery API search"
Hello, I receive the following error when trying to set the 'dim' param to any value for the earth imagery api search.

Query: https://api.nasa.gov/planetary/earth/imagery?lon=100.75&lat=1.5&dim=0.01&cloud_score=True&api_key=DEMO_KEY

Response:

{"message": "Admins have been notified.", "error": "unsupported operand type(s) for /: 'unicode' and 'int'"}

I tried many combinations for the dim parame

[2017-06-19 13:30] charlescbeebe commented on #85
@andrewconnell thanks for the heads up. Issue should be fixed, now.

[2017-06-21 14:59] #85 closed

[2017-06-28 03:13] #86 closed

[2017-07-13 19:13] billwagner3 opened #87 "APOD Video not displaying"
Hi guys,
I have a page that you can click through the past APOD's, which works fine until a video comes up (for instance here in July, July 4th is a video) but the video does not display in Chrome, Firefox or Explorer, and when you try and click past to the next earlier date, you get a the data but not the pic to go along with it. Here's rough page with the apod: http://billwagner3.webfactional.co

[2017-07-13 19:27] brianthomas commented on #87
Hi Bill,

Its hard for me to troubleshoot this. I went to APOD site for July 4th and video played for me. Can you supply a link which demonstrates the error?

-brian

From: billwagner3 <notifications@github.com>
Reply-To: nasa/api-docs <reply@reply.github.com>
Date: Thursday, July 13, 2017 at 3:13 PM
To: nasa/api-docs <api-docs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Sub

[2017-07-13 19:32] billwagner3 commented on #87
The link is in my text: http://billwagner3.webfactional.com/nasa.

Did you go to that link above? I tried on different computers and got the
same result.

By the by, I am working in Linux for the dev of this page. I have tried to
view on a Windows 7 machine as well as Windows 10 using chrome on both.

Go to the link and hit the back arrow to get to July 4.

On Thu, Jul 13, 2017 at 12:27 PM, Brian

[2017-07-13 19:39] brianthomas commented on #87
Looks like the return payload is returning the youtube url with the correct url for the request. Without looking at your code, it would appear to me that the problem is that you aren’t embedding it in your page (perhaps you are always expecting hdurl parameter which is missing for this date?)

-brian

From: billwagner3 <notifications@github.com>
Reply-To: nasa/api-docs <reply@reply.github.com>
Dat

[2017-07-13 19:46] billwagner3 commented on #87
The code comes straight off the Nasa website. It doesn't work properly. I
put in my html page exactly what it says to do. Here's the page:
https://api.nasa.gov/#live_example

If you looked at my code, you'd see the same exact thing.

So, this hdurl is not mentioned. Is there a css attribute I could use? I am
not familiar with this. Please enlighten me. Thanks.

On Thu, Jul 13, 2017 at 12:39 PM, Br

[2017-07-13 20:04] jasonduley commented on #87
try making your video div element an iframe or straight up use a video tag in it's place

[2017-07-13 20:10] billwagner3 commented on #87
I've tried both of those to no avail. I've spent quite a bit of time on
this and have tried a lot of different things in a myriad of combinations.
I can get the video to actually work if I manually put in the date in the
api call, but then I"ve got a hard-coded date that doesn't change. It
doesn't work when cycling thru the pics of the day. Thanks for your time.

Bill

On Thu, Jul 13, 2017 at 1:04

[2017-07-13 20:19] jasonduley commented on #87
i just made a bin and it seems to load the video
https://jsbin.com/dadovilaza/1/edit?html,js,output
it must have something to do with initializing it once the page has loaded.  hmmm

[2017-07-13 20:22] billwagner3 commented on #87
Yeah, with a hardcode in the api call it works fine. I am stumped.

On Thu, Jul 13, 2017 at 1:19 PM, jasonduley <notifications@github.com>
wrote:

[2017-07-13 20:24] jasonduley commented on #87
![image](https://user-images.githubusercontent.com/6842640/28186063-96d347fc-67ce-11e7-9563-c3b9a5089dc9.png)

[2017-07-13 20:24] jasonduley commented on #87
saw this in the console when the date reached july 4th.

[2017-07-13 20:27] billwagner3 commented on #87
Ok. That's the first time I've seen that. I don't get that message when I
run it, it comes back clean, except no video. So, now I'm even more
confused. Lord.

On Thu, Jul 13, 2017 at 1:24 PM, jasonduley <notifications@github.com>
wrote:

[2017-07-13 20:54] jasonduley commented on #87
what browser are you using?  perhaps there is an ad blocker working, try disabling it and see if that helps

[2017-07-13 21:02] billwagner3 commented on #87
I have been using both chrome and firefox on a Linux system. I've checked
for ad blockers and the such on both systems-- interesting that I am
getting the same exact problem no matter what browser I am using-- or
computer for that matter, I've checked the site on Windows 7 and 10 systems
using chrome and Explorer. No difference. I mean-- if you can't see it
either on my site, then it's not my brow

[2017-07-13 21:32] jasonduley commented on #87
i c.  it was an issue on my end.  can you confirm the css "display" param is getting properly set to block.  it seems when I load 7-4-2017 and inspect, the element is styled to display none.

[2017-07-13 21:41] billwagner3 commented on #87
I'll be damned, that worked! There was no css display param set (it was
exactly as it is on the Nasa site). I did the same for the pics, since it
was not displaying when you went earlier to July 3. Now it all works.
Should be added to the example on the Nasa site.

Thanks Jason! :)

Bill

On Thu, Jul 13, 2017 at 2:32 PM, jasonduley <notifications@github.com>
wrote:

[2017-07-13 21:43] jasonduley commented on #87
the nasa snippet did not need that explicitly set as it was loading images/vids at page load.  due to the runtime loading as your script was doing, the iframe got confused and it required this.  glad it is working now.

[2017-07-13 21:43] #87 closed

[2017-07-13 21:44] billwagner3 commented on #87
Thanks for the insight Jason. Good to know.

On Thu, Jul 13, 2017 at 2:43 PM, jasonduley <notifications@github.com>
wrote:

[2017-07-18 04:31] jnbetancourt commented on #44
The latest release of the apod api includes the ability to specify a date range. The details are in the README at: https://github.com/nasa/apod-api

[2017-07-18 04:31] #44 closed

[2017-07-18 04:42] jnbetancourt commented on #74
NASA APIs now enforce strict transport security. Thanks for the suggestion!

[2017-07-18 04:42] #74 closed

[2017-07-18 08:16] martinsuchan commented on #84
I've noticed that the apod.nasa.gov now uses SSL settings that is [compatible only with very recent devices](https://www.ssllabs.com/ssltest/analyze.html?d=api.nasa.gov&s=34.197.165.36). It supports only TLS 1.2 and ECDHE_RSA_WITH_AES cipher suites.
It might be useful to supprt older devices as well - [see this article from Mozilla](https://wiki.mozilla.org/Security/Server_Side_TLS). The **Modern

[2017-07-19 07:23] gabi579510 commented on #84
Thank you! Everything it's working fine!

On Tue, Jul 18, 2017 at 11:16 AM, Martin Suchan <notifications@github.com>
wrote:

[2017-07-19 09:02] martinsuchan commented on #84
Just an update, in order to support older Android devices the backend needs to support TLS 1.0 side by side with TLS 1.2. TLS 1.0 is still secure, so no need to worry.

[2017-07-20 02:05] jnbetancourt commented on #69
Updates to the APOD API have been made. I checked the 1995-06-16 and 1996-07-28 and they're working now. Feel free to re-open this issue if you find other dates that are failing.

[2017-07-20 02:05] #69 closed

[2017-07-20 02:07] jnbetancourt commented on #54
Closing this issue. Feel free to re-open if the refactored deployment did not fix the problem.

[2017-07-20 02:08] #54 closed

[2017-08-16 23:34] BrunoBiluca commented on #86
Yes this in not working.

[2017-08-17 06:57] sfatfarma commented on #86
Any solutions?

[2017-08-21 02:52] jnbetancourt commented on #86
The code has been fixed, but we're working on deploying to a different backend. The fix should be live soon, and I'll update this bug when it happens.

[2017-08-21 06:24] sfatfarma commented on #86
Thank you very much for your response and for your prompt actions.

Regards,
Szabi.

[2017-09-05 01:10] GonzaloCBenlloch opened #88 "Enable CORS on EPIC API"
When using EPIC API i get a cors error, i thing it's the server not sending the header correctly.

[2017-09-29 07:46] NickIliev opened #89 "APOD API returning 502 Bad Gateway"
Making an API call even with the DEMO_KEY is returing 502 Bad Gateway

steps to reproduce:
execute
[code]

result:
[code]

Using registered API key is resulting in the same status.

[2017-09-29 11:28] sach2211 commented on #89
Same issue happening with valid API key as well.

[2017-09-29 12:07] jasonduley commented on #89
it's been fixed!  sorry about that

[2017-09-29 12:07] #89 closed

[2017-10-17 05:53] maodijim commented on #63
By today still borken

[2017-11-04 19:50] joncancode commented on #38
Is this still looking for a fix? I can help @knynkwl

[2017-11-09 10:05] #88 closed

[2018-01-14 03:37] b3m2a1 commented on #86
@jnbetancourt I am hitting this issue still. Any idea when the patch will be up?

[2018-01-15 07:32] sfatfarma commented on #86
I don't think that the fix made into release, yet. :)

[2018-01-28 23:53] jnbetancourt commented on #86
We're currently having deployment issues. I'll update this issue once the fix is deployed. Hopefully it'll be within the next couple weeks.

[2018-01-29 12:27] sfatfarma commented on #86
Thank you very much.

[2018-02-07 15:56] chrislblake opened #94 "Earth Imagery API call failing"
Hello,

I've been attempting to make calls from the https://api.nasa.gov/planetary/earth/imagery API, and they've been failing with the error message:

{"message": "Admins have been notified.", "error": "'Image' object has no attribute 'rgbtohsv'"}

This error has occurred with the calls from my API key, as well as the example given on the docs.

Does anyone know a way to fix or bypass this? I've

[2018-02-20 18:25] jnbetancourt commented on #94
This was caused by an update to one of the libraries that the API uses. We've deployed a change to fix this, and the calls should work now.

[2018-02-20 18:25] #94 closed

[2018-02-20 18:38] jnbetancourt commented on #63
This issue has been fixed. Thank you for your patience!

[2018-02-20 18:38] #63 closed

[2018-02-23 17:08] jagoosw opened #95 "Orbital Uncertainty"
NeoWs API a value is returned called Orbital Uncertainty, on the Small Body Database website an uncertainty is given for each element not an overall number, also the number seems to be an integer.

What does the value called Orbital Uncertainty represent?

(I'm not sure this is an appropriate place to ask but I've emailed the contact on the website and haven't got a reply so couldn't think where e

[2018-02-27 12:13] jagoosw commented on #95
I have found it, it is called a MPC uncertainty parameter as described here https://minorplanetcenter.net/iau/info/UValue.html

[2018-02-27 12:13] #95 closed

[2018-02-27 20:16] dgreenfield0 commented on #95
Hey @jagoosw,
Sorry I didn't see your emails or this post.  Glad you found the info.

Feel free to ping me with other questions.

Thanks,
davidg

[2018-02-28 12:01] jagoosw commented on #95
No worries, thanks!

[2018-03-08 15:54] Curious-Nikhil opened #97 "Is there any API or Data on Interplanetary data Mission data?"
Like Voyager or something?

[2018-03-20 01:33] PeterAlfonsLoch opened #98 "Mars time api?"
Hi, I am looking for an api that gives me time on mars, like the mars24 app does. I have long and lat i wanna apply

[2018-04-04 19:16] Huc91 commented on #37
https://api.nasa.gov/planetary/apod/direct?[insert API key here]

Returns Error 500
I'm struggling with this and can't find no solution? How can I have Cors enabled apod images?

[2018-04-07 10:51] Fieel commented on #37
Yup same error here. I thought this problem was solved years ago?

https://api.nasa.gov/planetary/apod/direct?date=2015-06-03&api_key=DEMO_KEY

returns

`{
  "code": 500,
  "msg": "Sorry, unexpected error: must be str, not NotFound",
  "service_version": "v1"
}`

[2018-04-07 13:05] Huc91 commented on #37
Yep, I don't know if it's a temporary problem because I stared using the API just a few days ago but it always returns:

It would be very nice to have (again) CORS enabled images :-)

[2018-04-10 10:17] Fieel opened #99 "No CORS support for APOD API."
Hello,

Apparently, CORS support for the APOD API isn't working anymore. It should've been fixed, see this previous issue report: https://github.com/nasa/api-docs/issues/37#issuecomment-108530992

But if you try to request this URL, for example:

`https://api.nasa.gov/planetary/apod?date=2015-06-03&api_key=DEMO_KEY`

you get this response:

`{ "code": 500, "msg": "Sorry, unexpected error: must be

[2018-04-10 10:18] Fieel commented on #37
@Huc91 i just created a new issue, feel free to report there

[2018-04-12 13:22] BadiiBoukalane opened #100 "No CORS support for EPIC API."
Hi all,

Apparently, CORS support for the EPIC API isn't working or not permitted yet.

If i try to reach this URL, for example:

https://api.nasa.gov/EPIC/api/natural?api_key=myKey (that i got earlier and working fine with the APOD API)

I get this response:

Failed to load https://epic.gsfc.nasa.gov/archive/natural/2015/10/31/png/epic_1b_20151031074844.png: No 'Access-Control-Allow-Origin' heade

[2018-04-17 16:34] jasonduley commented on #37
please try again

[2018-04-19 10:41] medakk opened #101 "Internal Server Error in sounds API, with stack trace visible"
I tried https://api.nasa.gov/planetary/sounds?q=apollo&api_key=DEMO_KEY
There was a stack trace printed:
[code]

[2018-04-19 10:43] medakk opened #102 "Internal Server Error in planetary/earth/imagery api"
I'm seeing internal server errors when I query for images in 2018, or late 2017 with https://api.nasa.gov/planetary/earth/imagery/?lon=77.593675&lat=12.972172&date=2018-01-01&api_key=DEMO_KEY

[code]

[2018-04-27 10:49] Fieel commented on #99
Even tho there isn't any reply yet it looks like the problem has been fixed, closing!

[2018-04-27 10:49] #99 closed

[2018-04-27 10:53] Fieel commented on #37
@jasonduley as stated in https://github.com/nasa/api-docs/issues/99#issuecomment-384935929 the "direct" url is broken so i just used the normal URL and it's working. People (like me) might find this thread and waste a lot of time trying to use the 'direct' URL though.

[2018-06-13 20:29] mbparis commented on #102
Was a solution ever found for this?

[2018-06-14 05:18] medakk commented on #102
No, I never found a solution for it. Query for the previous years works though.

[2018-06-19 14:20] JacobTDC opened #103 "Access-Control-Allow-Origin Header"
Would it be at all possible to add the `Access-Control-Allow-Origin: "*"` header to the server response (specifically for the mars-photos api)? I'm asking this because I'm working on a client-side HTML utility that allows searching for rover photos after inputing an API key, and it only works in Incognito Mode in certain browsers on certain devices.

[2018-06-21 20:43] jasonduley commented on #103
please try it again ...

[2018-06-22 15:24] JacobTDC commented on #103
It occasionally works.

[2018-07-12 05:54] twilco commented on #102
@jasonduley - any word on this?  Between this issue and another one opened by @medakk, it seems like these pretty major problems are just left to be unresolved.  It's a shame because NASA's APIs seem quite neat.

[2018-07-12 05:57] twilco opened #104 "APOD API documentation out of date"
The APOD documentation API is out of date at https://api.nasa.gov/api.html#apod.  It still mentions the deprecated `concept_tags` parameter, and has no mention of the `count` parameter found in the API repo, https://github.com/nasa/apod-api.

[2018-07-12 06:11] twilco opened #105 "Patents API demo broken"
Clicking on the example URL for the patents API results in an internal server error.

https://api.nasa.gov/patents/content?query=temperature&limit=5&api_key=DEMO_KEY

[code]

[2018-07-12 06:27] twilco opened #106 "https://api.nasa.gov/contact/ results in a 404"
Messing around on the API documentation page, I managed to catch the DEMO_KEY in a state of being over the rate limit.  The message when this happens looks like this:

OVER_RATE_LIMIT
You have exceeded your rate limit. Try again later or contact us at https://api.nasa.gov/contact/ for assistance

However, https://api.nasa.gov/contact/ results in this error:

[code]

[2018-07-12 17:35] amaust82 opened #107 "No CORS for Techport API"
I'm getting a CORS errror on the Techport API with a message of: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2018-07-12 17:57] jasonduley commented on #107
please try it again

[2018-07-12 18:11] amaust82 commented on #107
Looks great! Thank you for the quick update.

[2018-07-12 18:15] amaust82 commented on #107
Oops, spoke too soon. Looks like that broke the updatedSince param on projects.

https://api.nasa.gov/techport/api/projects?updatedSince2018-07-01&api_key=[redacted]

[2018-07-12 18:15] #107 closed

[2018-10-28 15:41] JacobTDC commented on #103
Sorry, this issue was fixed awhile back, I forgot to close it! XD

[2018-10-28 15:41] #103 closed

[2018-11-01 17:49] html1011 commented on #102
I’ve been recently recieving the same error- though only in some cases. The day before, I sent a request for all dates May 29, 2017 to December 31, 2017. Today, I made the a request for dates January 1, 2017 through December 31, 2017- and I found something strange. I was using a completely new API Token, on a different network, and all of the dates before May 29 worked. But from May 29 2017 to Dec

[2018-11-28 04:23] B-Lemke opened #108 "CORS Issue with APOD API"
I have been making the following call and trying to get the image via the hdurl in the APOD API:
https://api.nasa.gov/planetary/apod?date=2015-06-03&api_key=myKey

I will get the following error:
Access to image at 'https://apod.nasa.gov/apod/image/1506/hyperion02_cassini_1024.jpg' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the request

[2018-12-09 00:17] PawelPleskaczynski opened #109 "My fork that fixes 500 errors in the APOD API"
Hello,

I have been using NASA's APOD API for some time and I noticed that while trying to access an APOD that's neither an image nor an video, the API throws 500 error, I fixed the issue in my fork. I also added a new query parameter, which, when set to `true`, returns URL of video thumbnail, if the APOD is a video (the feature was suggested by @hemangshah).

Here's the link to the fork: https://

[2018-12-10 07:44] Trusted97 opened #110 "How to upgrade Api Limit"
Hi,

I'm developing an app where i use this API :

- APOD
- Neo Feed
- Mars rover photo

How could i increase my rate limit?

[2018-12-27 21:43] JustinGOSSES opened #111 "One of the EPIC demo links results in 500 error"
https://api.nasa.gov/EPIC/archive/enhanced/2016/12/04/png/epic_RBG_20161204003633.png?api_key=DEMO_KEY

One of the EPIC demo links results in 404 error

[2019-01-02 07:39] hemangshah commented on #111
Actually, there's are few which isn't working and throwing error.

[2019-01-02 07:39] hemangshah commented on #111
If you're from dev team or contributor please check this out, https://github.com/nasa/api-docs/issues/109 - This guy have already fixed this issue.

[2019-01-02 22:47] JustinGOSSES commented on #111
I'm going through and finding all the dead api.nasa.gov links. I don't have write access to the separate repo that impacts #109 but I've flagged it to at least one person who I believe does.

[2019-01-03 04:11] hemangshah commented on #111
Thanks @JustinGOSSES, this will help. 👍🏼

[2019-01-11 19:22] JustinGOSSES commented on #111
fixed & merged via https://github.com/nasa/apod-api/pull/16

[2019-01-11 19:22] #111 closed

[2019-01-14 20:31] #110 closed

[2019-03-26 16:04] gafortiby commented on #102
I also have this issue, and it seems that NOT using a data pulls the OLDEST image instead of the NEWEST images as the documentation says. Now that it's 2019, it seems all requests with 2019 fails. :(

[2019-08-28 22:17] #100 closed, assigned to nobody

[2019-08-29 03:00] hemangshah commented on #111
@JustinGOSSES can you please share EPIC site link where we can see this info?

[2019-08-29 03:18] JustinGOSSES commented on #111
https://epic.gsfc.nasa.gov/about/api

[2019-08-29 03:22] JustinGOSSES opened #113 "add one more epic link"
https://epic.gsfc.nasa.gov/about/api has additional information that the provided info link does not

[2019-09-04 12:35] #109 closed

[2019-09-16 18:58] #39 closed

[2019-09-18 12:17] dkinslert opened #116 "Link is broken"
https://api.nasa.gov/patents/content?query=temperature&limit=5&api_key=DEMO_KEY

![Captura de pantalla de 2019-09-18 08-13-32](https://user-images.githubusercontent.com/4423678/65147612-834ece80-d9ec-11e9-8e7f-72b3367a5c53.png)
![Internal Server Error](https://user-images.githubusercontent.com/4423678/65147743-c315b600-d9ec-11e9-879f-fbb3506f1dfb.png)

[2019-09-18 16:29] JustinGOSSES commented on #108
NO longer a problem

[2019-09-18 16:29] #108 closed

[2019-09-18 16:29] JustinGOSSES commented on #50
THis is an old problem and has been fixed.

[2019-09-18 16:29] #50 closed

[2019-09-18 16:33] JustinGOSSES commented on #106
Took off the link

[2019-09-18 16:33] #106 closed

[2019-09-18 16:34] #33 closed

[2019-09-18 16:34] JustinGOSSES commented on #97
Try PDS (planetary data system)

[2019-09-18 16:34] #97 closed

[2019-09-18 19:01] #26 closed

[2019-09-18 19:01] #24 closed

[2019-09-18 19:01] #23 closed

[2019-09-24 15:44] JustinGOSSES commented on #113
done

[2019-09-24 15:44] #113 closed

[2019-09-24 15:47] #84 closed

[2019-09-24 15:52] JustinGOSSES commented on #82
This site doesn't host the APIs themselves, it is just a passthrough service and central place to find NASA APIs.

Hence, it is difficult for use to enforce a single way to document all the APIs as we don't necessarily have access to the underlying code. For full API documentation, you should go to the links mentioned for each API.

The new version of this site generates the html about each API fr

[2019-09-24 15:58] JustinGOSSES commented on #116
Looking into this. Added "NOTE: THIS IS DOWN CURRENTLY:" to the API description. Thank you.

[2019-09-24 16:00] JustinGOSSES commented on #104
This pull request for for previous version of api.nasa.gov will look at integrating it though, thank you.

[2019-09-24 17:27] JustinGOSSES commented on #102
This API is broken for certain date ranges. We are attempted to find/contact a current API owner. In the mean time, this service is basically a wrapper around google earth engine, so you can use it. A downside is the more complex interface.

[2019-09-26 13:50] dkinslert commented on #116
it would be better if I would be disabled, thank you too.

[2019-09-30 15:30] nehemias-bit commented on #102
How zoomed in will the returned image? Is the quality good enough for me to see house for example?

[2019-09-30 16:09] JustinGOSSES commented on #102
@nehemias-bit you can try the API for the 2017 date range and change the lat/long to be your house to see the zoom level.

[2019-10-04 20:18] jmhorn2015 commented on #105
duplicate issue opened at #116 . Closing this one since Justin took action on #116 first

[2019-10-04 20:18] #105 closed

[2019-10-16 05:30] ARtheboss opened #117 "No Earth data for certain latitudes and longitudes"
I live in Singapore, where @ 1.3521° N, 103.8198° E. However, when I search for something like this: https://api.nasa.gov/planetary/earth/imagery/lon=1.3521&lat=103.8198&api_key=DEMO_KEY, it keeps giving internal server errors. Am I doing something wrong? I just want pictures of my house.

[2019-10-16 16:38] JustinGOSSES commented on #117
The owner of this API has left NASA and the API's functionality has decreased over time, so we're in the process of building a replacement. It is on the 'to-do' list for the next sprint.

In the meantime, https://developers.google.com/earth-engine/ has similar functionality but a little more complex API user experience.

[2019-10-17 02:42] #104 closed

[2019-11-07 18:16] #2 closed

[2019-11-07 18:16] #3 closed

[2019-11-07 18:16] #5 closed

[2019-11-07 18:16] #8 closed

[2019-11-07 18:16] #9 closed

[2019-11-07 18:16] #14 closed

[2019-11-07 18:16] #15 closed

[2019-11-07 18:16] #17 closed

[2019-11-07 18:16] #19 closed

[2019-11-07 18:16] #20 closed

[2019-11-07 18:16] #21 closed

[2019-11-07 18:16] #31 closed

[2019-11-07 18:16] #38 closed

[2019-11-07 18:16] #41 closed

[2019-11-07 18:16] #42 closed

[2019-11-07 18:16] #46 closed

[2019-11-07 18:16] #53 closed

[2019-11-07 18:18] JustinGOSSES commented on #101
This API is disabled now, so closing

[2019-11-07 18:18] #101 closed

[2019-11-07 18:22] JustinGOSSES commented on #98
Anyone want to develop this? Application is here: https://www.giss.nasa.gov/tools/mars24/ and some people have attempted similar things that might be a starting point. https://github.com/jtauber/mars-clock

[2019-11-07 18:24] JustinGOSSES opened #118 "needs a contributions.md to explain how to make a contribution"
needs a contributions.md to explain how to make a contribution

Probably start from the standard github one

Link to it from the README in both master and gh-docs branches

[2019-11-07 18:25] JustinGOSSES opened #119 "explore pull request and issue templates"
explore pull request and issue templates

[2019-11-07 18:27] JustinGOSSES commented on #119
https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates

[2019-11-20 21:39] JustinGOSSES opened #121 "add link to example apps built with federal APIs to api.nasa.go"
add link to example apps built with federal APIs to api.nasa.go

https://www.data.gov/applications

[2019-11-21 16:03] #119 closed

[2019-11-21 16:04] #118 closed

[2019-12-07 20:03] JustinGOSSES opened #123 "Help us fix the patent API"
Can an API be made out of these patents results to replace the old patent API?

https://technology.nasa.gov/search/patent/data

[2019-12-07 20:05] JustinGOSSES opened #124 "[ISSUE] Are there new endpoints or better examples to add to the api.nasa.gov for each API?"
Please submit example endpoint examples you think are good and we'll add in

[2019-12-07 20:06] JustinGOSSES commented on #117
Anyone have a very simple earth imagery code that could be packaged as an API?

[2019-12-07 20:08] JustinGOSSES opened #125 "PLACE TO SHARE THINGS BUILD WITH THESE APIs"
Do you have something you built that would be starter code for others?

Are you searching for good starter code for a specific API?

Please paste below. Remember NASA doesn't endorse anything posted in issues.

[2019-12-07 20:29] JustinGOSSES opened #126 "[ISSUE] We should overwrite master branch with docs branch to avoid confusion"
The master branch is an old version.  Let's save it as a dead branch with different name and have master be the same as docs branch, which is what api.nasa.gov is running on.

[2019-12-09 18:05] evantayloryates commented on #125
Here's a simple APOD API usage tutorial posted by Sahil Sharma: https://www.youtube.com/watch?v=T7ZvY3vioeE&feature=youtu.be

[2019-12-09 23:05] evantayloryates commented on #126
moved "master" to "old_master" and copied "gh-pages" branch to "master"

[2019-12-09 23:05] #126 closed

[2020-01-19 10:05] Tomas527 commented on #102
Jest uploaded a demonstration video of an IOS app I wrote using this API.
Soon everyone with an iPhone will have this amazing tool for earth exploring.

https://www.linkedin.com/posts/tomer-abady-766ba2193_a-demonstration-of-earth-rewinder-the-first-activity-6624342427408965632-6F5U

[2020-01-19 19:51] JustinGOSSES commented on #102
@Tomas527 thanks for sharing. Love that you built your first IOS app with NASA API data, please share in this issue thread. https://github.com/nasa/api-docs/issues/125  We're trying to build up a list of examples like this!

[2020-01-20 11:23] Tomas527 commented on #125
"Earth Rewinder" is a simple tool for using the "Earth" API built for the IOS platform.

Its main goal is to encourage people to explore our planet and get a real visual grasp over the way it changes, behave and look.

Short demonstration video of my progress so far:
https://www.linkedin.com/posts/tomer-abady-766ba2193_a-demonstration-of-earth-rewinder-the-first-activity-6624342427408965632-6F5U

[2020-02-22 02:46] JustinGOSSES commented on #123
fixed and now called techtransfer

[2020-02-22 02:46] #123 closed

[2020-02-24 21:48] JustinGOSSES commented on #116
patents API replaced with techTransfer API

[2020-02-24 21:48] #116 closed

[2020-03-03 00:02] JustinGOSSES opened #129 "Update documentation for EPIC API to be inline with version 2 and change backend links"
See https://epic.gsfc.nasa.gov/about/api for more information

[2020-03-31 17:16] MDStebel opened #130 "API is down"
The Imagery API is returning an error:
Example: https://api.nasa.gov/planetary/earth/imagery/?lon=100.75&lat=1.5&date=2014-02-01&cloud_score=True&api_key=DEMO_KEY
Returns:
<img width="476" alt="Screen Shot 2020-03-31 at 1 15 36 PM" src="https://user-images.githubusercontent.com/12930579/78055582-bf76ca80-7351-11ea-8e45-426de71c77c0.png">

Will this be fixed?

[2020-03-31 17:52] MDStebel commented on #125
ISS Real-Time Tracker 3D, an iOS app, provides real-time tracking, pass predictions, crew data, live video, and images from the NASA Landsat database using the Earth API. Tap the satellite button to view images corresponding to the exact current location of the ISS. https://www.issrtt.com
https://mdstebel.github.io/ISS-Real-Time-Tracker-Selected-Source-Code/
https://itunes.apple.com/us/app/iss-rea

[2020-03-31 19:44] JustinGOSSES commented on #130
Updated the api.nasa.gov description for that API with:

[2020-03-31 19:47] JustinGOSSES commented on #130
Thanks for flagging @MDStebel

[2020-03-31 19:48] MDStebel commented on #130
Thanks!

 <https://www.facebook.com/MichaelStebelConsulting/>		 <https://www.linkedin.com/in/michaelstebel/>
Michael Stebel
Management Consultant ∙ SaaS Guru ∙ Indie App Developer
MICHAEL STEBEL CONSULTING

561.252.1081‬ <tel:(561)%20252-1081>
	michael@michaelstebelconsulting.com <mailto:michael@michaelstebelconsulting.com>
	michaelstebelconsulting.com <https://www.michaelstebelconsulting.com/>

[2020-04-21 16:35] JustinGOSSES commented on #130
Earth imagery API is back up. It doesn't have the cloud filtering functionality any more. If this is very important to you, I'd advise using one of the other imagery APIs mentioned in the description of the earth imagery api.

Closing this issue as the API is back up.

[2020-04-21 16:35] #130 closed, assigned to nobody

[2020-04-21 16:53] #129 closed, assigned to JustinGOSSES, evantayloryates

[2020-04-21 16:53] JustinGOSSES commented on #117
API is now fixed

[2020-04-21 16:53] #117 closed

[2020-05-11 19:28] ezekielaquino opened #131 "APOD images are blocked by CORS policy"
Browser: all modern browsers

Steps to reproduce:
Load an image from the APOD api via js `new Image`. Even with crossOrigins set to 'anonymous' or blank, CORS blocks it. the only way to load it via js is to use a browser extension to force CORS. This would be beneficial to render images onto e.g. a canvas

[2020-05-13 01:27] MikeyManoguerra commented on #125
Hello!
I noticed that the API response changed since last year. it returns 404's for errors (not 500's) and no longer includes the date on the response object.

i also noticed the quality of the photos have gone way down, to the point where they are unrecognizable.

here is an app i built last year
https://mikeymanoguerra.github.io/Views-via-ISS/

you can see a screenshot from about a year ago for

[2020-05-17 18:53] JustinGOSSES commented on #125
@MikeyManoguerra Is this in regards to the Earth Imagery API?

The Earth Imagery API was built many years ago by someone who has since left, so it is a bit of a stranded project. I sometimes push fixes when I get a spare bit of time. Google keeps changing their API unfortunately, so it is hard to keep up.

I'd suggest you start using the Google Earth Engine API directly.

The NASA Earth Imagery AP

[2020-06-23 22:18] JustinGOSSES commented on #131
Unable to replicate.

For example, see this ObservableHQ notebook where someone else (not this person) is using the APOD API to get images back. https://observablehq.com/@nclarkcoder/request-playground

Suspect the issue is how you're setting up your HTML/CS/JS page and maybe where it is being deployed? CORS is annoying at times. Best of luck.

[2020-06-23 22:18] #131 closed, assigned to nobody

[2020-07-12 15:39] dengoloborodko opened #132 "CORS issue with TechTransfer API"
I've sent a request to the TechTransfer API, using the following URL:

https://api.nasa.gov/techtransfer/patent/?engine&api_key=myKey

And received the CORS error:

Access to fetch at 'https://api.nasa.gov/techtransfer/patent/engine&api_key=myKey' from origin 'mySite' has been blocked by CORS policy: The 'Access-Control-Allow-Origin' header has a value 'https://technology-api.ndc.nasa.gov' that is

[2020-07-13 16:26] JustinGOSSES commented on #132
Should be fixed now. Works for me.

I'll wait until we have your response before we close this issue.

[2020-07-13 18:04] dengoloborodko commented on #132
Yes, now works for me too. Thank you so much for the fast response!

[2020-07-14 15:15] JustinGOSSES commented on #132
Sometimes I'm lucky and things are easy 😄

[2020-07-14 15:15] #132 closed, assigned to nobody

[2020-07-21 20:02] MikeyManoguerra commented on #125
@JustinGOSSES Hey Justin,
Sorry I missed your response until now, it must have got buried in Github notifications.
Yes, that is the one i was referring to. I will look into migrating  to the google API.

Thanks for the description of the pipeline. The Earth-Imagery-Api was a great resource to use for one of my first standalone projects, above. If you are able to get permission to make the project

[2020-08-13 19:01] JustinGOSSES opened #133 "Consider adding 18F's API standards README to instructions to API authors section?"
Consider adding 18F's API standards README to instructions to API authors section?

https://github.com/18F/api-standards

[2020-11-08 17:55] joejoe909 opened #134 "Earth is not functional."
Hello,
      Earth doesn't seem functional. Please see these links as they're not working correctly.

These are you test links that won't work. They don't work with my api key either.
https://api.nasa.gov/planetary/earth/imagery?lon=100.75&lat=1.5&date=2014-02-01&api_key=DEMO_KEY
https://api.nasa.gov/planetary/earth/assets?lon=-95.33&lat=29.78&date=2018-01-01&&dim=0.10&api_key=DEMO_KEY

[2020-11-09 22:34] Iinguistics opened #135 "Earth landsat"
I am using chrome version: 86.0.4240.183
The example query throw a 500 server error
My calls were working about 2 weeks ago perfectly fine, then I started getting a cors error,
so I set up Access-Control-Allow-Origin: *  & got the 500 server error.
Is this Earth landsat API taken offline?

[2020-11-12 21:52] JustinGOSSES commented on #134
A security update caused some issues on the server. These links work now. Thank you

[2020-11-12 21:52] #134 closed, assigned to nobody

[2020-11-12 21:52] JustinGOSSES commented on #135
There was a security update that broke things. Should be fixed now

[2020-11-12 21:52] #135 closed, assigned to nobody

[2020-11-13 14:19] joejoe909 commented on #134
Thanks Justin, while the imagery works the assets link does not. FYI. See my links above.

[2020-11-16 17:10] JustinGOSSES commented on #134
Thanks again. I must have only tested the imagery endpoint. Both should be working now.

[2020-11-16 17:12] JustinGOSSES commented on #102
original issue is fixed so will close

[2020-11-16 17:12] #102 closed

[2020-11-19 02:37] ghost opened #137 "./neo/rest/v1/feed response model"
Good morning,
i am working on this
https://github.com/mattiapontonio/asteroids/blob/4f4d7e80e5e841a4b6ab7415e8ddf6384289238b/components/ScatterPlot.vue

and as in other projects I have had problems with how the body of the response is modeled
https://api.nasa.gov/neo/rest/v1/feed?start_date=START_DATE&end_date=END_DATE&api_key=API_KEY

- I would first need a specific endpoint for a specific date b

[2020-11-21 07:49] ghost commented on #137
Hello, Is the right repo? Can someone address this?

[2020-12-01 05:15] JustinGOSSES commented on #137
This redo doesn't hold any of the APIs themselves as stated in the README.

 If you go to the page for NEO API (if not linked in api.nasa.gov a Google search should bring it up), you can try to find appropriate page / contacts for the near earth object API.

[2020-12-01 05:20] JustinGOSSES commented on #137
If I understand what you're saying about the problem of "undefined", your best bet is to have your code test for that condition itself as a precaution. It can be a bit tricky but probably your fastest way forward.

Changing the response structure of an API already used by many is a big ask.

Given we can't help you here directly, I'm going to close this issue. Best of luck.

[2020-12-01 05:20] #137 closed, assigned to nobody

[2020-12-01 07:07] ghost opened #138 "Doc pages are not pages"
This redo doesn't hold any of the APIs themselves as stated in the README.

 If you go to the page for NEO API (if not linked in api.nasa.gov a Google search should bring it up), you can try to find appropriate page / contacts for the near earth object API.

_Originally posted by @JustinGOSSES in https://github.com/nasa/api-docs/issues/137#issuecomment-736223936_

[2020-12-01 07:09] ghost opened #139 "I don't like this response"
If I understand what you're saying about the problem of "undefined", your best bet is to have your code test for that condition itself as a precaution. It can be a bit tricky but probably your fastest way forward.

Changing the response structure of an API already used by many is a big ask.

Given we can't help you here directly, I'm going to close this issue. Best of luck.

_Originally posted by

[2020-12-01 08:24] ghost commented on #139
Maybe We (of course You but We as developers) can use
https://en.wikipedia.org/wiki/HATEOAS

Inside the `Near-earth-objests` _collection rappresented like an object_ in order to force the `date` to be exposed as a entity...

Or more good maybe keep `asteroids` like an entity and expose the filtering feature...

I need to 🤔💭
Feel free to expose your impressions.

[2020-12-01 08:45] ghost commented on #138
Is It addressable inside GitHub?

[2020-12-01 09:00] ghost commented on #125
https://github.com/mattiapontonio/asteroids

[2020-12-01 09:12] dgreenfield0 commented on #137
Hey @mattiapontonio - I maintain the NeoWs Asteroid API - Feel free to email: spacerocksapps@gmail.com

Thanks @JustinGOSSES

[2020-12-03 10:58] mmd44 opened #140 "Neo service application error"
https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY

This service is returning an application error:
503 Service Unavailable
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command

[2020-12-03 11:08] dgreenfield0 commented on #140
Hey @mmd44

We are looking into the issue and should have the service back soon.

Thanks,
~SpaceRocksTeam

[2020-12-03 11:37] dgreenfield0 commented on #140
Hey @mmd44,

NeoWs is back up. Please let us know if you have any more issues.

The error was related to an unexpected infrastructure outage, which has been resolved.

Thanks
~SpaceRocksTeam

[2020-12-03 11:41] #140 closed, assigned to nobody

[2020-12-28 15:57] JustinGOSSES commented on #139
The admins here don't control the Near Earth Objects API as addressed elsewhere, if someone else stumbles upon this issues, you can reach them at https://github.com/SpaceRocks/ & spacerocksapps@gmail.com

[2020-12-28 15:57] #139 closed, assigned to nobody

[2020-12-28 16:03] ghost commented on #139
@JustinGOSSES thanks.
The API level could be open sourced in some way in order to discuss about the endpoints and the responses.
I didn't find the right repository for this, all seems about documentation, this Is a "server issue".

[2020-12-28 16:26] JustinGOSSES commented on #138
I'm not sure I understand your question, can you restate or elaborate?

[2020-12-28 16:36] ghost commented on #138
Yes.
In the HTML doc the subpart of the doc are accordions without document fragments like `/doc#the-ninth-service` so if I want to mention a service i have to say "Go to this URL and scroll until Your eyes matches the title `<title-here>`".

So I suggested to split the doc in several urls or HTML Pages.

## Examples
- https://api.nasa.gov/apod
- https://api.nasa.gov/asteroids-neo-ws
- https://api

[2020-12-28 18:49] JustinGOSSES commented on #138
No problem. I understand what you're asking now.

You can supply a link that opens a specific part of the page by adding `/#id_of_h1_element` to the URL of api.nasa.gov

Examples are:
https://api.nasa.gov/#donki
https://api.nasa.gov/#insight
https://api.nasa.gov/#apod
https://api.nasa.gov/#eonet

The way this works is `#` signals to your browser to look for a h1 element in the HTML of the page at

[2020-12-28 18:54] ghost commented on #138
Thanks.
There are 2 new issues in the following referenceable comments.

[2020-12-28 18:57] ghost commented on #138
If i visit https://api.nasa.gov/#eonet i don't see "EONET..." because is z-indexed under the header or viceversa.
I have to scroll a little bit.

![Screenshot_20201228-195511.png](https://user-images.githubusercontent.com/44380480/103237092-edbc2180-4946-11eb-9dab-e653c27696b8.png)

![Screenshot_20201228-195555.png](https://user-images.githubusercontent.com/44380480/103237059-d54c0700-4946-11eb-82

[2020-12-28 19:04] ghost commented on #138
If i visit https://api.nasa.gov/#donki sometimes i see

![Screenshot_20201228-200038.png](https://user-images.githubusercontent.com/44380480/103237343-98344480-4947-11eb-925a-4ffc7236d3c0.png)

But if i refresh i see

![Screenshot_20201228-200107.png](https://user-images.githubusercontent.com/44380480/103237372-a84c2400-4947-11eb-9781-0187f658c4ce.png)

Why sometimes?
Because even when I visit the

[2020-12-28 21:44] JustinGOSSES commented on #138
I see what you mean. Sometimes the behavior is fine and sometimes it isn't. I think it is a state issue.

I've added a small script at the bottom of the index.html page that now looks at the URL and sees if there is a `/#id_name` at the end, if there is, it triggers an artificial click on the element with that as its id. I've added a 4 second time out just so it always works even if someone's down

[2020-12-28 21:53] JustinGOSSES commented on #125
Quick visualization of Near Earth Object API on Observable https://observablehq.com/@justingosses/asteroids-api-a-href-https-api-nasa-gov-api-neows-swagger-n-e-o

[2020-12-28 22:28] ghost commented on #138
Yes, it worked, but you still see the top of the page for a moment and you don't understand if you can interact or not, while with the standard behavior it seems to me that the browser renders the document fragment directly.

If the html in question is in the body of the first http call, the browser should have what it needs to render.

This works pretty well for me
https://developer.mozilla.org/e

[2020-12-29 16:34] JustinGOSSES commented on #138
What you suggest is basically what I did initially. It worked locally but not when I pushed it into production.

I think the issue is the way the page is built that whole section gets pulled in via a script and is not in the html written in the index.html file. I added the time out to ensure the script to "click" the element in question didn't run until after the script to add in the html run.

It

[2020-12-29 16:53] ghost commented on #138
view-source:https://api.nasa.gov/ (use Chrome here)

Yes here there Is not the HTML.
Ho about creating `/eonet.html` from scratch and hard coding the copied HTML from the rendered page?

What is missing?
- `header`?
- `footer`?
- `CNAME`?

Sorry but I'm from mobile so i don't know now How to inspect the page and right click on the HTML Element for copying It.

Then convert the accordion in the `in

[2020-12-29 17:14] ghost commented on #138
NTS
- https://github.com/search?q=eonet+repo%3Anasa%2Fapi-docs&type=code
- https://github.com/nasa/api-docs/blob/078dbaba92e769761b496d83f462fbcc62cbeac1/assets/json/apis.json

[2021-01-13 18:03] amygoodchild commented on #37
I'm having the same issue. The direct URL is broken and the other one doesn't allow me to use the image url in my code due to a CORS error. Any chance of getting this looked again? Thanks so much!

[2021-01-17 03:42] Jarvan-via opened #143 "Satellite Situation Center this web cant not open"

[2021-01-18 21:49] molavec commented on #125
Hi to everyone!

I'm participating in a Hackathon using [Postman](https://www.postman.com/) and [NASA Open APIs](https://api.nasa.gov).

I like to share this project that could be useful for engineers ans scientist that use these APIs.
I'm very happy if you can help me to promote it in your networks to anyone that could be interested to test and improve this Workspace in the future.

https://devpo

[2021-01-25 23:17] thiagodevvv opened #144 "The api is not returning to sea temperatures!"
Hi, I'm trying to use the Mars climate api, but it's not getting the right temperatures back!
In:https://mars.nasa.gov/insight/weather/https://mars.nasa.gov/insight/weather/
and api too
https://api.nasa.gov/insight_weather/?api_key=hyAFBcLDCctNdFVXIqi8bNavGFJDY0HhTbcE7IRP&feedtype=json&ver=1.0

[2021-01-26 11:27] #138 closed, assigned to nobody

[2021-01-26 17:36] JustinGOSSES commented on #144
My limited understanding is data on windspeed is not being sent from Rover to Earth right now and this has been an issue since ~ November 2021.  If you go to https://mars.nasa.gov/insight/weather/ and scroll down to the "seasonal weather report" you'll see the gaps.

It isn't an api.nasa.gov issue but rather that that data isn't available.

[2021-01-26 17:37] JustinGOSSES commented on #144
As noted in the insight section of the APIs, the appropriate feedback for the API is https://mars.nasa.gov/feedback/  api.nasa.gov is just a pass through service.

I'll add a more explicit note about missing data for some sensors for some dates on the API description.

[2021-01-26 17:37] #144 closed, assigned to nobody

[2021-02-08 07:54] Oshuma commented on #125
I started working on a Go library for the API, with plans to eventually implement everything (when I get free time).

Currently implemented:
* APOD
* EPIC
* Mars Rover Photos
* Image and Video Library

https://github.com/Oshuma/nasa

[2021-02-08 14:56] molavec commented on #125
Nice! Consider check this [Postman Public Workspace](https://www.postman.com/miguelolave/workspace/nasa-open-apis/overview) to fast test of API. I think could be helpful to you.

![image](https://user-images.githubusercontent.com/12848649/107236544-9197f300-6a04-11eb-8609-b133c5464194.png)

[2021-02-20 16:07] CyberRinzler commented on #125
I made a simple app that consumes APOD, Mars Rover Photos and the NeoFeed, here`s the link:
https://play.google.com/store/apps/details?id=com.legatus.venatici

I am currently rebuilding it with a newer version of Ionic and implementing the other API's on it.

These API's are amazing to learn, this specific project started for me as an exercise for a class in college.

[2021-04-05 20:11] JustinGOSSES commented on #143
Not sure what this is about.

If you add more detail, we an open again.

[2021-04-05 20:11] #143 closed, assigned to nobody

[2021-04-05 20:12] #133 closed, assigned to JustinGOSSES

[2021-05-24 20:40] ghost opened #149 "HTTP authentication"
Follow up of this
https://github.com/nasa/apod-api/issues/61

## References

- https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication

[2021-07-07 06:51] HilaryDev opened #150 "Alert appears on slow internet connection"
## Description of the problem

  When loading the webpage (https://api.nasa.gov/) with slow to intermittent internet connection (around 10KB per second), an alert appears that says `getJSON request failed! error`. Not in the user interface, but rather an alert that seems invoked by JavaScript, like `alert('getJSON request failed! error')`.

This does not happen when the internet connection is fast

[2021-07-31 07:58] BekBrace commented on #125
I created an ISS near real-time tracker.
Video link : https://www.youtube.com/watch?v=5UWeOfdESZE&t=6s
Code :  https://github.com/BekBrace/NASA-Project-with-Python

[2021-08-17 03:57] kushalsharma12 opened #153 "Tech Transfer api's JSON data shows unnecessary tags and special letters which are not removal while developing an App."
This is the example query -> https://api.nasa.gov/techtransfer/patent/?engine&api_key=DEMO_KEY

And it shows like these letters ->

![Screenshot 2021-08-16 095808](https://user-images.githubusercontent.com/65327113/129660621-670abe1b-d2ba-404f-9794-62caf550b7a5.png)

Due to which I am getting responses like this ->

![Screenshot 2021-08-16 184836](https://user-images.githubusercontent.com/65327113

[2021-08-25 13:57] JustinGOSSES commented on #153
As mentioned on the page and in the README, the admins of api.nasa.gov typically don't host the APIs themselves.

The individuals that control the API would be the admins of https://technology.nasa.gov/

However, there's probably 2 general approaches to dealing with it.
(A) In whatever language you're using, **strip out anything that's inside of a tag** using regular expressions, your own parsing

[2021-08-25 13:58] JustinGOSSES commented on #153
You might want to contact techtransfer at this email to let them know how this change in their content affects API users: techtransfer-system-support@lists.nasa.gov

[2021-08-25 14:02] #150 closed, assigned to nobody

[2021-08-25 14:03] JustinGOSSES commented on #150
Seems reasonable. Thanks for the pull request. It has been merged.

[2021-08-27 03:27] kushalsharma12 commented on #153
Thanks man, I resolved this issue just by implementing some HTML stuff in android studio. But I wonder if api performance can be improved more. As the active users increase on daily basis, it is takes lot of time to load the data.

[2021-09-22 20:25] JustinGOSSES commented on #125
Hey @MikeyManoguerra and others... the code that backs earth-imagery-api on api.nasa.gov finally got open sourced.

https://github.com/nasa/earth-imagery-api

[2021-09-29 03:15] MikeyManoguerra commented on #125
Rad! ill try to set it up in the coming weeks. thanks for following up, and ill let you know how it goes

[2021-10-19 16:58] campbe13 commented on #108
how did you fix it please, I am getting cors errors retrieving images, urls in the JSON returned by apod api

[2021-10-19 18:35] JustinGOSSES commented on #108
Not seeing this error. Please provide more information on what exactly you're calling and how you're calling it. That will help people assist you in debugging

[2021-10-19 18:36] JustinGOSSES commented on #108
Also please open new issue if necessary

[2021-11-04 11:02] FBascou opened #156 "CORS error with SSD/CNEOS CAD API fetch."
Hello,

I am getting CORS error from the following url:
https://ssd-api.jpl.nasa.gov/cad.api?dist-max=0.05&fullname=true&date-min=2021-11-04&date-max=2021-12-31&sort=date'

The url above was working a 2-3 months ago and now it is being blocked by CORS policy.

Hope that this can be changed please.

Thanks! :)

[2021-11-08 04:08] JustinGOSSES commented on #156
1. The URL works for me.
2. The admins of this repo don't control that API or have any insight into it. api.nasa.gov is a passthrough service. It doesn't host the APIs themselves.

Suggest you try the contact email listed on that specific API page: https://ssd-api.jpl.nasa.gov/about/

As this isn't related to api.nasa.gov , will close this issue.

[2021-11-08 04:08] #156 closed, assigned to nobody

[2021-12-10 07:06] ReadyPlayerEmma opened #160 "The APOD API no longer appears to provide a CORS-friendly way of loading the image itself"
Previously, based on older issues, there was a suffix path `/direct` that could appended to the APOD API which would return the image itself, but with CORS allow-origin headers present. It seems to be the below issue referenced by @amygoodchild in a comment back in January.

I have searched but am unable to find an alternative endpoint in any documentation which provides that ability. Was this fea

[2021-12-21 01:47] JustinGOSSES commented on #160
You might want to check out the current code for the APOD API here: https://github.com/nasa/apod-api

Also, it might be helpful to know that the APOD API is run entirely separate from the APOD website, so the person who might respond to issues on APOD API has no ability to do any changes on the APOD site or backend.

APOD API is basically a scrapper of APOD

[2022-01-19 20:15] katieclauswell commented on #160
Following

[2022-01-21 09:31] jumpjack opened #161 "CORS restrictions for https://ntrs.nasa.gov/api/"
I cannot use this api programmatically, due to CORS restrictions, hence which is its use case?
The web interface is terrible, it returns all fields for all results! https://ntrs.nasa.gov/

[2022-02-03 15:23] dtsw opened #162 "Todays APOD text is missing the first Letter"
Todays https://api.nasa.gov/planetary/apod?api_key= is missing the first letter in the explanation. I can see the E in the regular html page. Is it a bug or a typo?

`{"copyright":"Juan Luis C\u00e1novas P\u00e9rez","date":"2022-02-03","explanation":"ven though Venus (left) was the brightest planet in the sky it was less than 1/30th the apparent size of the Moon on January 29. But as both rose bef

[2022-02-12 02:05] oller commented on #161
I'm encountering CORS issues trying to access : `https://ssd-api.jpl.nasa.gov/` for their fireball API https://ssd-api.jpl.nasa.gov/doc/fireball.html

I believe this is a regression on the API side?

[2022-02-14 13:07] Nipun4338 opened #163 "Related Eonet API"
I'm trying to build a react app using the EONET API, but the response to the get request is always giving 403 forbidden error. Does EONET started giving authentication only to private networks?

[2022-02-14 22:41] oller commented on #160
It appears there's been a broader change in CORS headers across multiple NASA APIs.  I was using https://ssd-api.jpl.nasa.gov/doc/fireball.html and it now appears to not support CORS requests, and this is an intentional change from NASA. 😞

This was confirmed with an email exchange from someone at NASA when I reported the issue.

If anyone knows of any CORS friendly similar APIs or mirrors, please

[2022-02-14 22:46] ReadyPlayerEmma commented on #160
That is unfortunate. It seems rather silly to have a public API but not allow cross-origin requests...

[2022-02-14 23:44] JustinGOSSES commented on #160
Sorry about earlier response. I misunderstood the issue.

I no longer have rights to anything here but just to provide some feedback on this issue.

The problem you're seeing isn't anything to do with api.nasa.gov , it is with apod.nasa.gov. That's the URL you're calling when you have the CORS issue.

API.nasa.gov & APOD.nasa.gov  are run by entirely separate groups. Discussing the problem here do

[2022-03-08 16:11] natholder opened #164 "Earth API Down"
Using the Earth API to retrieve Landsat 8 images, getting 500 internal server errors, even with the example request.

https://api.nasa.gov/planetary/earth/imagery?lon=-95.33&lat=29.78&date=2018-01-01&dim=0.15&api_key=DEMO_KEY

[2022-03-08 16:17] natholder commented on #164
Actively being fixed, closing issue

[2022-03-08 16:17] #164 closed, assigned to nobody

[2022-03-28 10:32] ilanlal opened #165 "Techport-> XML Example Queries, actually link to the JSON example URLs"
Within api docs,

GET [https://api.nasa.gov/techport/api/projects/17792.xml?api_key=DEMO_KEY](https://api.nasa.gov/techport/api/projects/17792.json?api_key=DEMO_KEY)

[2022-03-28 10:56] ilanlal opened #166 ""exoplanets" is not a valid table."
https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1

[2022-04-26 23:18] tantonyan opened #167 "TLE data format link doesn't open: access denied"
TLE API:
The link used in **For more information on TLE data format visit [Definition of Two-line Element Set Coordinate System](https://spaceflight.nasa.gov/realdata/sightings/SSapplications/Post/JavaSSOP/SSOP_Help/tle_def.html)** shows an xml response with `Access Denied`

[2022-05-04 10:25] onecodestudio opened #168 "Using API in pocket AIDE"
There is a Pocket AIDE called "Sketchware"
Sketchware is the a platform were Android/IOS users can create their own app without being master in coding, sketchware works  on "drag and drop" coding so if anyone knows how to use the response data in sketchware then please help,

I'm trying to use response data from neos (near earth objects) API,

[2022-05-13 18:28] markd2 opened #169 "https://api.nasa.gov/planetary/earth/imagery erroring with 502 - bad gateway"
Hi!  Trying to use https://api.nasa.gov/planetary/earth/imagery, and getting a 2 minute tumout with 502 bad gateway.

Specifically with https://api.nasa.gov/planetary/earth/imagery?lat=39.5&lon=-120.5&date=2021-5-13&dim=1.0&api_key=$API_KEY

[2022-05-17 13:50] f-schi commented on #169
I have the same problem, doesn't work with any valid api key it seems.
Fixing this issue would be great, as i am currently conducting a time series analysis on satellite imagery and the nasa api is the only one to my knowledge where you can also access imagery from the past

[2022-06-16 08:35] mcihadarslanoglu commented on #169
I have same issue as well

[2022-07-05 22:03] fullstacc opened #170 "TLE Data API Documentation -> Link doesn't work; Is it pointing to a legitimate source?"
Hello! The TLE data section of the [API page](https://api.nasa.gov/) instructs users to point their GET's to endpoints located within:
http://tle.ivanstanojevic.me

- Is this a legitimate website associated with NASA? The domain, consisting of someone's personal name, feels very un-official
- The section also states *"Further documentation and response examples are available at http://tle.ivanstan

[2022-08-14 13:07] CalumRaine commented on #169
I'm also having this problem.

[2022-08-16 02:44] Aze1337 commented on #161
Hello,

do you still need help ?
can you provide more informations ?
are you trying to do a request on your own, or using it directly inside a web page of yours ? have you tried playing with the referer header ?

[2022-08-22 21:54] oller commented on #161
Hi @Aze1337 thanks for the response.

I just tried again, I'm doing this from a javascript app hosted on github pages.  The request continues to be blocked from localhost and also when hosted.

[code]

[2022-08-26 19:26] MorganR commented on #167
This should be resolved by PR #172

[2022-09-15 18:29] brooksvb opened #173 "Broken Links to SSCWeb"
The links to [Satellite Situation Center Web (SSCWeb) service](https://sscweb.sci.gsfc.nasa.gov/WebServices/REST/) are broken, giving "Name not resolved / IP address not found" errors.

Both the link with text "Satellite Situation Center Web (SSCWeb) service" and "visit this page." are broken.

[2022-09-18 13:19] mosheduminer opened #174 "Earth API Returning 403 (due to query parameters being dropped)"
Curl shows the following:

[code]

Note this line: `> GET /planetary/earth/imagery?lon=-95.33 HTTP/1.1` - apparently all query params after the first are dropped. Putting the API key first results in the command hanging (because `lon` and `lat` get omitted). I also get the same behavior trying to use my personal API key. I suppose a misconfigured proxy is to blame, as the [code for this endpoint l

[2022-09-18 13:20] mosheduminer commented on #174
I also noticed this issue just now, but I'm not sure that it's the same as this one: https://github.com/nasa/api-docs/issues/164.

[2022-09-19 18:38] Jamester-Cloud commented on #166
Having the same issue

[2022-09-27 02:51] PerryMapping commented on #164
It is probably due to Google Earth Engine migrating to Landsat Collection 2.  The example request works if you request the asset rather than the imagery. If you try to make a request from before 12/31/21, you'll see that the key alludes to collection 1: `"id":"LANDSAT/LC08/C01/T1_SR/`

[Info from Google documentation](https://developers.google.com/earth-engine/datasets/catalog/landsat)

[2022-10-28 15:28] HugoB07 opened #181 "To many request error"
Hello,
I develop an app for android
I use APOD API and Mars Rover Photos

But I have the error to many request
It is possible to increase the request per hours ?

Goodbye and Thanks

[2022-11-26 11:44] kaldaf commented on #160
In my case I couldn't export Canvas because of CORS, I solved it by converting the image to base64 on the server.